@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "改善进度汇总";
}
@section HeadCss{
     <style>
       #txtSDate.datewidth, #txtEDate.datewidth {
            width: 48.5%;
        }
        .datemargin {
            margin-left: 3%;
            margin-top: -1.4em;
        }
         #rdo_imp_id.datewidth, #select_status_id.datewidth {
            width: 50%;
        }
        #input_distributor_id.inputWidth {
            width:84%;
        }
        #btnChooseDis.buttonWidth{
             width:16%;
         }
     </style>
}
<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">统计分析</span><span>&nbsp;>&nbsp;</span>
        <span class="page-title">改善进度汇总</span>
        <div class="pull-right">
            <button class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">查询期间</span>
            <input size="16" type="text" value="@ViewBag.FirstDay" class="form_datetime form-control text-center datewidth"
                   id="txtSDate" />
            <span>~</span>
            <input size="16" type="text" value="@ViewBag.CurrentDate" class="form_datetime form-control text-center datewidth datemargin"
                   id="txtEDate" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">区域</span>
            <select class="form-control" id="select_area_id"></select>
        </div>
    </div>
    <div class="col-md-4">
        @*<div class="input-group">
            <span class="input-group-addon">经销商</span>
            <select class="form-control readonly" id="select_distributor_id"></select>
        </div>*@
        <div class="input-group">
            <label class="input-group-addon">经销商</label>
            <input type="text" class="form-control inputWidth" id="input_distributor_id" readonly>
            <button class="btn btn-primary buttonWidth" style="float:left" id="btnChooseDis">...</button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">指标名称</span>
            <input type="text" class="form-control" id="input_itemname_id" maxlength="10" />
        </div>
    </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon ">分配状态</span>
                <div class="form-control" id="rdo_allocate_id">
                    <label class="radio-inline">
                        <input type="radio" name="AllocateName" value="" checked />
                        全部
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="AllocateName" value="A" />
                        未分配
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="AllocateName" value="B" />
                        已分配
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group" id="div_imp_id" style="display:none;">
                <span class="input-group-addon ">改善状态</span>
                <div class="form-control datewidth" id="rdo_imp_id">
                    <label class="radio-inline">
                        <input type="radio" name="ImpStatusName" value="A" checked />
                        计划
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="ImpStatusName" value="R" />
                        结果
                    </label>
                </div>
                <select class="form-control datewidth" id="select_status_id"></select>
            </div>
        </div>
</div>
<div class="row gap-top">
    <div id="Grid" class="col-md-12">
        <table id="grid" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var _grid, _gridName, _disList;
        $(document).ready(function () {
            fn_Initial();
            fn_InitEvent();
        });
    </script>
    <script type="text/javascript">
        function fn_Initial() {
            _gridName = 'grid';
            _grid = $('#' + _gridName);
            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2, //显示到具体日期，如果设置到1，则显示到具体时间点。
                autoclose: 1,
                todayHighlight: 1,
                todayBtn: 1,
                startView: 2, //开始页面设置为具体到日期的那个页面。
                pickerPosition: 'bottom-left'
            });
            $("#txtSDate").val("@ViewBag.FirstDay");
            $("#txtEDate").val("@ViewBag.CurrentDate");
            DateFormatCheckEvent("txtSDate");
            DateFormatCheckEvent("txtEDate");
            $("#div_imp_id").hide();
            fn_searchArea();
            fn_GridInit();
            //fn_searchDis();
        }
        function fn_InitEvent() {
            $('input:radio[name="AllocateName"]').on('change', function () {
                var item = $("input[name='AllocateName']:checked").val();
                if (item == 'A' || item == '') {
                    $("#div_imp_id").hide();
                } else {
                    $("input[name='ImpStatusName']:first").attr("checked", "checked");
                    $("#div_imp_id").show();
                }
                $("#select_status_id").val('0');
            })
            $('input:radio[name="ImpStatusName"]').on('change', function () {
                var item = $("input[name='ImpStatusName']:checked").val();
                if (item == 'A') {
                    fn_searchStatus('06');
                } else {
                    fn_searchStatus('07');
                }
            })
            $('#btnSearch').on('click', function () {
                if (fn_SearchChk())
                    fn_SearchData();
            });
            //$("#select_area_id").on("change", function () {
            //    fn_searchDis();
            //});
            $('#btnChooseDis').on('click', function () {
                var areaid = $("#select_area_id").val();
                $.sa.pop("/Statistic/STA020P", {
                    params: {
                        'pamAreaId': areaid}, width:'560px', height: '420px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>选择经销商</span>'
                   , popcallback: function (data) {
                       _disList = '';
                       if (data != undefined && data != null && data.length > 0) {
                           $("#input_distributor_id").val("共选" + data.length + "项");
                           $.each(data, function (i, obj) { _disList = _disList+','+ data[i]; });
                       } else {
                           $("#input_distributor_id").val("");
                       }
                    }
                });
            });
        }
        function fn_searchArea() {
            $.sa.get(GETDISTRIBUTORBYUSERID,
            { UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' },
            {
                "success": function (data) {
                    if (data != null) {
                        if ('@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]' == 'Z') {
                            $('#select_area_id').html(JsonToCboList("Name", "Value", JSON.parse(data.body)));

                        } else {
                            $('#select_area_id').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "ALL" }));
                        }
                        //fn_searchDis();
                        fn_searchStatus('06');
                    }
                },
                "failure": function (data, statusText, jqXHR) {
                    $.sa.warning(data.msg);
                }
            });
        }
        @*function fn_searchDis() {
            var areaid=$("#select_area_id").val();
            //$.sa.get('http://localhost:6505/toyota/api/v1/Statistic/GetDistributorByAreaId',
            $.sa.get(GETDISTRIBUTORBYAREAID,
            { AreaId: areaid, UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]', DisName: $.trim($("#input_dis_id").val()) },
            {
                "success": function (data) {
                    $("#select_distributor_id").html(JsonToCboList("DisName", "DisCode", eval(data.body), { 'SelectType': 'ALL' }));
                    fn_searchStatus('06');
                },
                "failure": function (data, statusText, jqXHR) {
                    $("#callback_1_layer").html(data.msg);
                }
            }
            , $(".Grid")
            , { type: "spin" });

        }*@
        function fn_searchStatus(groupcode) {
            $.sa.get(TASKGETSTATUS, { GroupCode: groupcode },
                  {
                      "success": function (data) {
                          var result = JSON.parse(data.body);
                          if (groupcode == '06') result.splice(result[0], 1);
                              $("#select_status_id").html(JsonToCboList("Name", "Value", result, { 'SelectType': 'ALL' }));
                      },
                      "failure": function (data, statusText, jqXHR) {
                          $("#callback_1_layer").html(data.msg);
                      }
                  }
                  , $(".Grid")
                  , { type: "spin" });

        }
    </script>
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'AreaName', label: '区域', width: 60, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'DisName', label: '经销商', width: 80, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'TaskItemTitle', label: '体系名称', width: 150, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'ExecDepartmentName', label: '责任部门', width: 90, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'ImpStatus', label: '指示图', width: 40, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },
                        formatter: fn_StatusImg, unformat: fn_UnStatusImg
                    },
                    {
                        name: 'ImpStatusName', label: '状态', width: 60, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'LastUpdateTime', label: '最新更新时间', width: 80, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'DisId', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 15,
                rowList: [15, 30, 45],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                //grouping: true,
                //groupingView: {
                //    groupField: ['DisId'],
                //    groupColumnShow: [false]
                //},
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='grid_rn']").addClass("readonlycell");
                }
            });

            //_grid.jqGrid('setGroupHeaders', {
            //    useColSpanStyle: false,
            //    groupHeaders: [
            //    { startColumnName: 'Img', numberOfColumns: 2 }
            //    ]
            //});
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        ///详细按钮
        function fn_StatusImg(cellvalue, options, rowObject) {
            if (cellvalue.length==1&& cellvalue=="A")
                return '<img src="../images/statistic/impallocate.png" alt="' + rowObject.ImpStatusName + '" />';
            else if(cellvalue.substr(0,1)=="A")
                return '<img src="../images/statistic/impplan.png" alt="' + rowObject.ImpStatusName + '" />';
            else if (cellvalue.substr(1,1) == "G")
                return '<img src="../images/statistic/impok.png" alt="' + rowObject.ImpStatusName + '" />';
            else
                return '<img src="../images/statistic/impresult.png" alt="' + rowObject.ImpStatusName + '" />';
        }

        function fn_UnStatusImg(cellvalue, options, rowObject) {
            return cellvalue;
        }
    </script>
     <!--Search-->
    <script type="text/javascript">
            function fn_SearchChk() {
                if ($("#txtSDate").val() > $("#txtEDate").val()) {
                    $.sa.warning("结束日期不能小于开始日期"
                , {
                    fnClose: function () {
                        $("#txtEDate").focus();
                        return false;
                    }
                });
                } else {
                    return true;
                }
            }
            function fn_SearchData(page) {
                console.log($.trim($("#select_status_id").val()));
                $.sa.get(GETIMPITEMSFORSTATISTIC, {
                    'sDate': $.trim($("#txtSDate").val().replace(/-/g, ""))
                    , 'eDate': $.trim($("#txtEDate").val().replace(/-/g, ""))
                    , 'areaId': parseInt($.trim($("#select_area_id").val()))
                    , 'disId': _disList == undefined || _disList == null || _disList == '' ? '0' : _disList.substr(1)
                    , 'itemName': $.trim($("#input_itemname_id").val())
                    , 'allocate': $("input[name='AllocateName']:checked").val()
                    , 'statusType': $("input[name='AllocateName']:checked").val()=='B'?$("input[name='ImpStatusName']:checked").val():""
                    , 'status': $.trim($("#select_status_id").val()) == '' ? '0' : $.trim($("#select_status_id").val())
                    , 'inUserId': '@Context.Request.Cookies[SessionKeys.SESSION_USERID]'
                            },
                           {
                               "success": function (data) {
                                   if (data.resultCode == 0) {
                                       var resultList = JSON.parse(data.body);
                                       if (resultList.length == 0) {
                                           _grid.jqGrid("clearGridData");
                                           $.sa.alert('查询没有数据');
                                       } else {
                                           fn_SetGrid(resultList);
                                           $.sa.alert('查询完毕', { maxWidth: '400px', minWidth: '300px', showClose: false });
                                       }
                                   } else {
                                       $.sa.alert(data.msg);
                                   }
                               },
                               "failure": function (data, statusText, jqXHR){
                                   $("#callback_1_layer").html(data.msg);
                               }
                           }
                           , $("body"));
            }
</script>
}
