<div class="sidebar-nav">
    <ul class="side-nav">
        <li class="">
            <ul class="in collapse" id="collapse_menu">
                <li class="group active">
                    <a href="@Url.Action("Main010", "MainPage")" class="menuAction" data-url="@Url.Action("Main010", "MainPage")">
                        <div style="float: left;">
                            <i class="icon-list"></i>
                        </div>
                        <div style="margin-left: 20px;">日历和计划任务</div>
                    </a>
                </li>
                <li class="group">
                    <a href="@Url.Action("Main010", "MainPage")" class="menuAction" data-url="@Url.Action("Main010", "MainPage")">
                        <div style="float: left;">
                            <i class="icon-list"></i>
                        </div>
                        <div style="margin-left: 20px;">店面巡视检核</div>
                    </a>
                </li>
                <li class="group">
                    <a href="@Url.Action("Main010", "MainPage")" class="menuAction" data-url="@Url.Action("Main010", "MainPage")">
                        <div style="float: left;">
                            <i class="icon-list"></i>
                        </div>
                        <div style="margin-left: 20px;">改善监控互动</div>
                    </a>
                </li>
                <li class="group">
                    <a href="@Url.Action("Main010", "MainPage")" class="menuAction" data-url="@Url.Action("Main010", "MainPage")">
                        <div style="float: left;">
                            <i class="icon-list"></i>
                        </div>
                        <div style="margin-left: 20px;">通知公告</div>
                    </a>
                </li>
                <li class="group">
                    <a href="@Url.Action("Main010", "MainPage")" class="menuAction" data-url="@Url.Action("Main010", "MainPage")">
                        <div style="float: left;">
                            <i class="icon-list"></i>
                        </div>
                        <div style="margin-left: 20px;">案例</div>
                    </a>
                </li>
                <li class="group">
                    <a href="@Url.Action("Main010", "MainPage")" class="menuAction" data-url="@Url.Action("Main010", "MainPage")">
                        <div style="float: left;">
                            <i class="icon-list"></i>
                        </div>
                        <div style="margin-left: 20px;">统计报表</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
