@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "改善结果列表";
}
@section HeadCss{
    <style>
        #txtSDate.datewidth, #txtEDate.datewidth {
            width: 48.5%;
        }

        .datemargin {
            margin-left: 3%;
            margin-top: -1.4em;
        }
        .gap-icon {
        margin-right: 5px;
        }
        .jqgridbuttonwidth
        {
            width: 98%;
        }
    </style>
}
<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">监控互动</span><span>&nbsp;>&nbsp;</span>
        <span class="page-title">改善结果列表</span>
        <div class="pull-right">
            <button class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">查询期间</span>
            <input size="16" type="text" value="@ViewBag.FirstDay" class="form_datetime form-control text-center datewidth"
                    id="txtSDate" />
            <span>~</span>
            <input size="16" type="text" value="@ViewBag.CurrentDate" class="form_datetime form-control text-center datewidth datemargin"
                    id="txtEDate" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm ">结果状态</span>
            <select class="form-control" id="select_Status_id"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm ">来源类型</span>
            <select class="form-control" id="select_sourcetype_id"></select>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm">所属计划</span>
            <select class="form-control" id="select_taskofplan_id"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm ">指标名称</span>
            <input type="text" class="form-control" id="input_itemname_id" maxlength="10" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group" id="department_id">
            <span class="input-group-addon title-sm">责任部门</span>
            <select class="form-control readonly" id="select_department_id"></select>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4" id="distributor_id">
        <div class="input-group">
            <span class="input-group-addon title-sm">经销商</span>
            <select class="form-control readonly" id="select_distributor_id"></select>
        </div>
    </div>
</div>
    <div class="row gap-top">
        <div id="Grid" class="col-md-12">
            <table id="grid" class="ui-jqgrid-htable"></table>
            <div id="pager" class="page">
            </div>
        </div>
    </div>
    @section Scripts{
        <!-- 1. Load -->
        <script type="text/javascript">
            var _grid, _gridName;
            $(document).ready(function () {
                fn_Initial();
                fn_GridInit();
                fn_InitialData();
            });
        </script>
        <!-- 2. Init -->
        <script type="text/javascript">
            function fn_Initial() {
                _gridName = 'grid';
                _grid = $('#' + _gridName);
                $(".form_datetime").datetimepicker({
                    format: 'yyyy-mm-dd',
                    language: 'zh-CN',
                    minView: 2, //显示到具体日期，如果设置到1，则显示到具体时间点。
                    autoclose: 1,
                    todayHighlight: 1,
                    todayBtn: 1,
                    startView: 2, //开始页面设置为具体到日期的那个页面。
                    pickerPosition: 'bottom-left'
                });
                $("#txtSDate").val("@ViewBag.FirstDay");
                $("#txtEDate").val("@ViewBag.CurrentDate");
                DateFormatCheckEvent("txtSDate");
                DateFormatCheckEvent("txtEDate");
                var statusList = [];
                var varBStatus = {};
                varBStatus["Name"] = '结果待制定';
                varBStatus["Value"] = "A";
                statusList.push(varBStatus);
                var varCStatus = {};
                varCStatus["Name"] = '内部待审核';
                varCStatus["Value"] = "C";
                statusList.push(varCStatus);
                var varDStatus = {};
                varDStatus["Name"] = '内部未通过';
                varDStatus["Value"] = "D";
                statusList.push(varDStatus);
                var varEStatus = {};
                varEStatus["Name"] = '区域待审核';
                varEStatus["Value"] = "E";
                statusList.push(varEStatus);
                var varFStatus = {};
                varFStatus["Name"] = '区域未通过';
                varFStatus["Value"] = "F";
                statusList.push(varFStatus);
                var varGStatus = {};
                varGStatus["Name"] = '审核通过';
                varGStatus["Value"] = "G";
                statusList.push(varGStatus);
                $("#select_Status_id").html(JsonToCboList("Name", "Value", statusList, { 'SelectType': 'ALL' }));
                if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S') {
                    $("#distributor_id").hide();
                } else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'D') {
                    $("#distributor_id").hide();
                    $("#department_id").hide();
                }
                $('#btnSearch').on('click', function () {
                    if (fn_SearchChk())
                        fn_SearchData();
                });
            }
        </script>
        <!-- 3. InitData -->
        <script type="text/javascript">
            function fn_InitialData() {
                $.sa.get(TASKGETSTATUS, { GroupCode: '15' },
               {
                   "success": function (data) {
                       $("#select_sourcetype_id").html(JsonToCboList("Name", "Value", eval(data.body), { 'SelectType': 'ALL' }));
                        
                $.sa.get(GETALLTASKOFPLANFORIMP, { inUserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' },
               {
                   "success": function (data) {
                       $("#select_taskofplan_id").html(JsonToCboList("Name", "Value", eval(data.body), { 'SelectType': 'ALL' }));
                       $.sa.get(SEARCHNOTIFIDIS, { UserId: "@Context.Request.Cookies[SessionKeys.SESSION_USERID]" },
                           {
                               "success": function (data) {
                                   $("#select_distributor_id").html(JsonToCboList("DisName", "DisId", eval(data.body), { 'SelectType': 'ALL' }));
                                   $.sa.get(SEARCHNOTIFIDEP,
                                    {
                                        "success": function (data) {
                                            $("#select_department_id").html(JsonToCboList("DisName", "DisCode", eval(data.body), { 'SelectType': 'ALL' }));

                                        },
                                        "failure": function (data, statusText, jqXHR) {
                                            $("#callback_1_layer").html(data.msg);
                                        }
                                    }
                                    , $(".Grid")
                                    , { type: "spin" });
                               },
                               "failure": function (data, statusText, jqXHR) {
                                   $("#callback_1_layer").html(data.msg);
                               }
                           }
                           , $(".Grid")
                           , { type: "spin" });
                   },
                   "failure": function (data, statusText, jqXHR) {
                       $("#callback_1_layer").html(data.msg);
                   }
               }
                , $(".Grid")
                , { type: "spin" }); 
                   },
                   "failure": function (data, statusText, jqXHR) {
                       $("#callback_1_layer").html(data.msg);
                   }
               }
                , $(".Grid")
                , { type: "spin" });
            }
        </script>
        <!--Grid-->
        <script type="text/javascript">
            function fn_GridInit() {
                _grid.jqGrid({
                    datatype: 'local',
                    colModel: [
                        {
                            name: 'TaskItemTitle', label: '指标名称', width: 90, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'ItemId', label: '体系号', width: 40, align: 'right',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'ExecDepartmentName', label: '责任部门', width: 115, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'ResultStatusName', label: '结果状态', width: 80, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'DoScoreDate', label: '打分时间', width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'DoAllocateDate', label: '分配时间', width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'SourceTypeName', label: '来源类型', width: 60, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'PlanTitle', label: '所属计划', width: 100, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'AllocateDetail', label: '改善分配', width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            },
                            formatter: fn_AllocateDetail, unformat: fn_UnAllocateDetail
                        },
                        {
                            name: 'ItemDetail', label: '计划详细', width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            },
                            formatter: fn_ApprovalDetail, unformat: fn_UnApprovalDetail
                        },
                        {
                            name: 'ResultDetail', label: '结果查看', width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            },
                            formatter: fn_ResultDetail, unformat: fn_UnResultDetail
                        },
                        {
                            name: 'ItemId', hidden: true
                        },
                        {
                            name: 'TPId', hidden: true
                        },
                        {
                            name: 'ImprovementId', hidden: true
                        },
                        {
                            name: 'PlanStatus', hidden: true
                        },
                        {
                            name: 'ExecDepartment', hidden: true
                        },
                        {
                            name: 'ImpResultId', hidden: true
                        },
                        {
                            name: 'ResultStatus', hidden: true
                        },
                        {
                            name: 'AllocateYN', hidden: true
                        }
                    ],
                    width: $('#Grid').width(),
                    height: 'auto',
                    rownumbers: true,
                    rownumWidth: 50,
                    rowNum: 15,
                    rowList: [15, 30, 45],
                    footerrow: false,
                    cellsubmit: 'clientArray',
                    pager: jQuery('#pager'),
                    cellEdit: true,
                    editurl: 'clientArray',
                    viewrecords: true,
                    afterInsertRow: function (rowid, r) {
                    },
                    gridComplete: function (id) {
                        var rowNum = parseInt($(this).getGridParam("records"), 50);
                        if (rowNum > 0) {
                            $(".ui-jqgrid-sdiv").show();
                        }
                        else {
                            $(".ui-jqgrid-sdiv").hide();
                        }

                        //fix the pager position
                        $('#pager_left').css('width', '25%');
                        $('#pager_right').css('width', '25%');

                        $("[aria-describedby='grid_rn']").addClass("readonlycell");
                    }
                });
            }
            function fn_SetGrid(mydata) {
                mydata = mydata || [];
                _grid.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            }
            ///详细按钮
            function fn_AllocateDetail(cellvalue, options, rowObject) {
                return '<button type="button" class="btn btn-primary btn-sm jqgridbuttonwidth"  onclick="fn_GetAllocateDetail(' + rowObject.ImprovementId + ',' + "'" + rowObject.PlanStatus + "'" + ',' + rowObject.TPId + ',' + rowObject.ItemId + ',' + rowObject.PlanApproalYN + ',' + rowObject.ResultApproalYN + ')">分配详细</button>';
            }

            function fn_UnAllocateDetail(cellvalue, options, rowObject) {
                return "";
            }
            function fn_GetAllocateDetail(improvementId, planStatus, tpId, itemId, planApproalYN, resultApproalYN) {
                $.sa.pop("/Improve/IMP010P", {
                    params: { 'pamImprovementId': improvementId, 'pamPlanStatus': planStatus, 'pamTPId': tpId, 'pamItemId': itemId, 'pamPlanApproalYN': planApproalYN, 'pamResultApproalYN': resultApproalYN }, width: '1000px', height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>分配详细</span>'
                , popcallback: function () {
                }
                });
            }
            ///详细按钮
            function fn_ApprovalDetail(cellvalue, options, rowObject) {
                return '<button type="button" class="btn btn-primary btn-sm jqgridbuttonwidth"  onclick="fn_GetApprovalDetail(' + rowObject.ImprovementId + ',' + "'" + rowObject.PlanStatus + "'" + ',' + rowObject.PlanApproalYN + ',' + rowObject.AllocateYN + ')">计划详细</button>';
            }

            function fn_UnApprovalDetail(cellvalue, options, rowObject) {
                return "";
            }
            function fn_GetApprovalDetail(improvementId, planStatus, planApproalYN,allocateYN) {
                $.sa.pop("/Improve/IMP020P", {
                    params: { 'pamImprovementId': improvementId, 'pamPlanStatus': planStatus, 'pamPlanApproalYN': planApproalYN, 'pamAllocateYN': allocateYN }, width: '800px', height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>计划详细</span>'
                , popcallback: function () {
                }
                });
            }
            ///详细按钮
            function fn_ResultDetail(cellvalue, options, rowObject) {
                return '<button type="button" class="btn btn-primary btn-sm jqgridbuttonwidth"  onclick="fn_GetResultDetail(' + rowObject.ImprovementId + ',' + rowObject.ImpResultId + ',' + "'" + rowObject.ResultStatus + "'" + ',' + rowObject.ResultApproalYN + ',' + rowObject.AllocateYN + ')">改善结果</button>';
            }

            function fn_UnResultDetail(cellvalue, options, rowObject) {
                return "";
            }
            function fn_GetResultDetail(improvementId, impResultId, resultStatus, resultApproalYN, allocateYN) {
                $.sa.pop("/Improve/IMP030P", {
                    params: { 'pamImprovementId': improvementId, 'pamImpResultId': impResultId, 'pamResultStatus': resultStatus, 'pamResultApproalYN': resultApproalYN, 'pamAllocateYN': allocateYN }, width: '800px', height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>改善结果</span>'
                , popcallback: function () {
                    fn_Refresh(_grid.getGridParam('page'));
                }
                });
            }
            function fn_Refresh(page) {
                fn_SearchData(page);
            }
        </script>
        <!--Search-->
        <script type="text/javascript">
            function fn_SearchChk() {
                if ($("#txtSDate").val() > $("#txtEDate").val()) {
                    $.sa.warning("结束日期不能小于开始日期"
                , {
                    fnClose: function () {
                        $("#txtEDate").focus();
                        return false;
                    }
                });
                } else {
                    return true;
                }
            }
            function fn_SearchData(page) {
                var willSearchSave = "";
                if ($.trim($("#select_Status_id").val()) == '0') {
                    willSearchSave = "A,C,D,E,F,G";
                } else {
                    willSearchSave = $.trim($("#select_Status_id").val());
                }
                $.sa.get(GEIMPROVEMENTITEMFROMSCORELIST, {
                    'itemName': $.trim($("#input_itemname_id").val())
                                , 'sDate': $.trim($("#txtSDate").val().replace(/-/g, ""))
                                , 'eDate': $.trim($("#txtEDate").val().replace(/-/g, ""))
                                , 'inUserId': "@Context.Request.Cookies[SessionKeys.SESSION_USERID]"
                                , 'statusType': 'R'
                                , 'status': willSearchSave
                                , 'disId': $.trim($("#select_distributor_id").val())
                                , 'depId': $.trim($("#select_department_id").val())
                                , 'planId': parseInt($.trim($("#select_taskofplan_id").val()))
                                , 'sourceType': $.trim($("#select_sourcetype_id").val()) == "0" ? '' : $.trim($("#select_sourcetype_id").val())
                },
                           {
                               "success": function (data) {
                                   willSearchSave = "";
                                   if (data.resultCode == 0) {
                                       var resultList = JSON.parse(data.body);
                                       if (resultList.length == 0) {
                                           _grid.jqGrid("clearGridData");
                                           $.sa.alert('查询没有数据');
                                       } else {
                                           fn_SetGrid(resultList);
                                           $.sa.alert('查询完毕', { maxWidth: '400px', minWidth: '300px', showClose: false });
                                       }
                                   } else {
                                       $.sa.alert(data.msg);
                                   }

                                   if (page > 0) {
                                       _grid.jqGrid('setGridParam', {
                                           page: page
                                       }).trigger("reloadGrid");
                                   }
                               },
                               "failure": function (data, statusText, jqXHR) {
                                   $("#callback_1_layer").html(data.msg);
                               }
                           }
                           , $("body"));
            }
        </script>
    }


