@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "改善分配列表";
}
@section HeadCss{
<style>
    #txtSDate.datewidth, #txtEDate.datewidth {
        width: 48.5%;
    }

    .datemargin {
        margin-left: 3%;
        margin-top: -1.4em;
    }

    .gap-icon {
        margin-right: 5px;
    }
    .jqgridbuttonwidth
    {
        width: 98%;
    }
</style>
}
<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">监控互动</span><span>&nbsp;>&nbsp;</span>
        <span class="page-title">改善分配列表</span>
        <div class="pull-right">
            <button class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">查询期间</span>
            <input size="16" type="text" value="@ViewBag.FirstDay" class="form_datetime form-control text-center datewidth"
                    id="txtSDate" />
            <span>~</span>
            <input size="16" type="text" value="@ViewBag.CurrentDate" class="form_datetime form-control text-center datewidth datemargin"
                    id="txtEDate" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm ">来源类型</span>
            <select class="form-control" id="select_sourcetype_id"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm">所属计划</span>
            <select class="form-control" id="select_taskofplan_id"></select>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm ">指标名称</span>
            <input type="text" class="form-control" id="input_itemname_id" maxlength="10" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group" id="distributor_id">
            <span class="input-group-addon title-sm">经销商</span>
            <select class="form-control" id="select_distributor_id"></select>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div id="Grid" class="col-md-12">
        <table id="grid" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>
@section Scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        $(document).ready(function () {
            fn_Initial();
            fn_InitialData();
            fn_GridInit();
        });
    </script>
     <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initial() {
            _gridName = 'grid';
            _grid = $('#' + _gridName);
            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2, //显示到具体日期，如果设置到1，则显示到具体时间点。
                autoclose: 1,
                todayHighlight: 1,
                todayBtn: 1,
                startView: 2, //开始页面设置为具体到日期的那个页面。
                pickerPosition: 'bottom-left'
            });
            $("#txtSDate").val("@ViewBag.FirstDay");
            $("#txtEDate").val("@ViewBag.CurrentDate");
            DateFormatCheckEvent("txtSDate", { CheckType: "BLANK" });
            DateFormatCheckEvent("txtEDate", { CheckType: "BLANK" });
            if ('@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]' == 'S') {
                $("#distributor_id").hide();
            }
            $('#btnSearch').on('click', function () {
                if (fn_SearchChk())
                    fn_SearchData();
            });
        }
    </script>
      <!-- 3. InitData -->
    <script type="text/javascript">
        function fn_InitialData() {

            $.sa.get(TASKGETSTATUS, { GroupCode: '15' },
           {
               "success": function (data) {
                   $("#select_sourcetype_id").html(JsonToCboList("Name", "Value", eval(data.body), { 'SelectType': 'ALL' }));
                   $.sa.get(GETALLTASKOFPLANFORIMP, { inUserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' },
                 {
                     "success": function (data) {
                         $("#select_taskofplan_id").html(JsonToCboList("Name", "Value", eval(data.body), { 'SelectType': 'ALL' }));

                         $.sa.get(SEARCHNOTIFIDIS, { UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' },
                             {
                                 "success": function (data) {
                                     $("#select_distributor_id").html(JsonToCboList("DisName", "DisId", eval(data.body), { 'SelectType': 'ALL' }));

                                 },
                                 "failure": function (data, statusText, jqXHR) {
                                     $("#callback_1_layer").html(data.msg);
                                 }
                             }
                             , $(".Grid")
                             , { type: "spin" });
                     },
                     "failure": function (data, statusText, jqXHR) {
                         $("#callback_1_layer").html(data.msg);
                     }
                 }
                 , $(".Grid")
                 , { type: "spin" });
               },
               "failure": function (data, statusText, jqXHR) {
                   $("#callback_1_layer").html(data.msg);
               }
           }
           , $(".Grid")
           , { type: "spin" });

            }
    </script>
    <!--Grid-->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'TaskItemTitle', label: '指标名称', width: 120, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'ItemId', label: '体系号', width: 50, align: 'right',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'PlanApproalYN', label: '计划审批', width: 60, align: 'center', formatter: 'checkbox', formatoptions: { disabled: true }, editoptions: { value: 'True:False' },
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'ResultApproalYN', label: '结果审批', width: 60, align: 'center', align: 'center', formatter: 'checkbox', formatoptions: { disabled: true }, editoptions: { value: 'True:False' },
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'SourceTypeName', label: '来源类型', width: 80, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'TaskCardTitle', label: '所属任务', width: 120, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'PlanTitle', label: '所属计划', width: 120, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'DoScoreDate', label: '打分时间', width: 60, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: '', label: '改善分配', width: 60, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },
                        formatter: fn_Detail, unformat: fn_UnDetail
                    },
                    {
                        name: 'ItemId', hidden: true
                    },
                    {
                        name: 'TPId', hidden: true
                    },
                    {
                        name: 'PlanStatus', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 15,
                rowList: [15, 30,45],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                afterInsertRow: function (rowid, r) {
                },
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='grid_rn']").addClass("readonlycell");
                }
            });
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        ///详细按钮
        function fn_Detail(cellvalue, options, rowObject) {
            return '<button type="button" class="btn btn-primary btn-sm jqgridbuttonwidth"  onclick="fn_GetDetail(' + rowObject.TPId + ',' + rowObject.ItemId + ',' + rowObject.PlanApproalYN + ',' + rowObject.ResultApproalYN + ',' + "'" +rowObject.PlanStatus + "'" +  ')">改善分配</button>';
        }

        function fn_UnDetail(cellvalue, options, rowObject) {
            return "";
        }
        function fn_GetDetail(tPId, itemId, planApproalYN, resultApproalYN, planStatus) {
            $.sa.pop("/Improve/IMP010P", {
                params: { 'pamTPId': tPId, 'pamItemId': itemId, 'pamPlanApproalYN': planApproalYN, 'pamResultApproalYN': resultApproalYN, 'pamPlanStatus': planStatus }, width: '1000px', height: '520px', title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>改善分配</span>'
            , popcallback: function () {
                fn_Refresh(_grid.getGridParam('page'));
            }
            });
        }
        function fn_Refresh(page) {
            fn_SearchData(page);
        }
    </script>
    <!--Search-->
    <script type="text/javascript">
        function fn_SearchChk() {
            if ($("#txtSDate").val() > $("#txtEDate").val()) {
                $.sa.warning("结束日期不能小于开始日期"
            , {
                fnClose: function () {
                    $("#txtEDate").focus();
                    return false;
                }
            });
            } else {
                return true;
            }
        }
        function fn_SearchData(page) {
            $.sa.get(GEIMPROVEMENTITEMFROMSCORELIST, {
                           'itemName': $.trim($("#input_itemname_id").val())
                            , 'sDate': $.trim($("#txtSDate").val().replace(/-/g, ""))
                            , 'eDate': $.trim($("#txtEDate").val().replace(/-/g, ""))
                            , 'inUserId': '@Context.Request.Cookies[SessionKeys.SESSION_USERID]'
                            , 'statusType': 'A'
                            , 'status': 'A'
                            , 'disId': parseInt($.trim($("#select_distributor_id").val()))
                            , 'depId': 0
                            , 'planId': parseInt($.trim($("#select_taskofplan_id").val()))
                            , 'sourceType': $.trim($("#select_sourcetype_id").val()) == "0" ? '' : $.trim($("#select_sourcetype_id").val())
                        },
                       {
                           "success": function (data) {
                               if (data.resultCode == 0) {
                                   var resultList = JSON.parse(data.body);
                                   if (resultList.length == 0) {
                                       _grid.jqGrid("clearGridData");
                                       $.sa.alert('查询没有数据');
                                   } else {
                                       fn_SetGrid(resultList);
                                       $.sa.alert('查询完毕', { maxWidth: '400px', minWidth: '300px', showClose: false });
                                   }
                               } else {
                                   $.sa.alert(data.msg);
                               }
                               if (page > 0) {
                                   _grid.jqGrid('setGridParam', {
                                       page: page
                                   }).trigger("reloadGrid");
                               }
                           },
                           "failure": function (data, statusText, jqXHR){
                               $("#callback_1_layer").html(data.msg);
                           }
                       }
                       , $("body"));
        }
    </script>
}


