@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "登记改善计划";
}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="input-group">
            <span class="input-group-addon title-sm "><font color="red">*</font>&nbsp;预计完成时间</span>
            <input type="text" value="@ViewBag.CurrentDate" class="form_datetime  form-control" id="input_date_id">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="input-group">
            <span class="input-group-addon title-sm "><font color="red">*</font>&nbsp;部门改善计划</span>
            <textarea class="form-control" rows="4" id="textarea_ImprovementApproval_id"></textarea>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-sm-6  col-xs-6" style="padding:0px">
        <div class="row">
            <div class="col-sm-12  col-xs-12" id="div_dis_id">
                <div class="input-group">
                    <span class="input-group-addon title-sm "><font color="red">*</font>&nbsp;总经理审核结果&nbsp;&nbsp;</span>
                    <select class="form-control" id="select_DisApprovalResult_id"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                    <textarea class="form-control" rows="3" id="textarea_DisApprovalContent_id"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <div class="input-group">
                    <input class="form-control" readonly id="input_DisApprovalDate_id" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6  col-xs-6" style="padding:0px">
        <div class="row">
            <div class="col-sm-12  col-xs-12" id="div_zon_id">
                <div class="input-group">
                    <span class="input-group-addon title-sm"><font color="red">*</font>&nbsp;评估师审核结果&nbsp;&nbsp;</span>
                    <select class="form-control" id="select_ZoneApprovalResult_id"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <div class="input-group">
                    <textarea class="form-control" rows="3" id="textarea_ZoneApprovalContent_id"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <div class="input-group">
                    <input class="form-control" readonly id="input_ZoneApprovalDate_id" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-sm-12  col-xs-12">
        <div id="ossfile"></div>
        <div id="container">
            <a id="selectfiles" href="javascript:void(0);" class='btn btn-primary'><span class="fa fa-cloud-upload gap-icon"></span>上传文件</a>
            <a id="postfiles" href="javascript:void(0);" class='btn' style="display:none">开始上传</a>
        </div>
    </div>
</div>
<div class="row">
    <div id="Grid" class="col-md-12  col-sm-12  col-xs-12">
        <table id="grid" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>
<div class="row" style="position: absolute; left: 45%; margin-top: 1em">
    <div class="col-md-12 col-sm-12  col-xs-12 gap-top">
        <button type="button" class="btn btn-primary" id="btn_tempsave_id">
            <span class="fa fa-save gap-icon"></span><span>暂存</span>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" id="btn_save_id">
            <span class="fa fa-save gap-icon"></span><span>提交</span>
        </button>
    </div>
</div>
@section Scripts{
    <style>
    </style>
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        var _reqPlanStatus, _reqImprovementId, _reqPlanApproalYN, _reqAllocateYN;
        var _deleteFileButton = true;//照片删除按钮列可见与否
        _reqPlanStatus = Request["pamPlanStatus"];//计划状态
        _reqImprovementId = Request["pamImprovementId"];//改善Id
        _reqPlanApproalYN = Request["pamPlanApproalYN"];//计划审批与否
        _reqAllocateYN = Request["pamAllocateYN"];//是否需要分配
        $(document).ready(function () {
            fn_Initial();
            fn_InitialData();
            fn_GridInit();
            fn_SearchData();
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initial() {
            _gridName = 'grid';
            _grid = $('#' + _gridName);//上传附件列表显示grid
            $(".form_datetime").datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                showMeridian: true,
                autoclose: true,
                todayBtn: true,
                language: 'zh-CN'
            });
            $('#input_date_id').val('@ViewBag.CurrentDate');
            //根据状态及登陆者类型判断可否编辑
            console.log("前台获取：" + "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]");
            if (_reqPlanStatus != undefined && _reqPlanStatus != null) {
                if (_reqAllocateYN == "false") {
                    if ((_reqPlanStatus == 'B' || _reqPlanStatus == 'F' || _reqPlanStatus == 'H') && "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S') {//计划未制定或者内部未通过//部门登陆
                        $('#select_DisApprovalResult_id').attr("disabled", true);//经销商审批结果
                        $('#textarea_DisApprovalContent_id').attr("readonly", true);//经销商审批内容
                        $('#select_ZoneApprovalResult_id').attr("disabled", true);//区域审批结果
                        $('#textarea_ZoneApprovalContent_id').attr("readonly", true);//区域审批内容
                        _deleteFileButton = false;
                    } else if (_reqPlanStatus == 'E' && "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'Z') {//内部待审批  //区域登陆
                        $('#textarea_ImprovementApproval_id').attr("readonly", true);//部门计划内容
                        $('#select_DisApprovalResult_id').attr("disabled", true);//经销商审批结果
                        $('#textarea_DisApprovalContent_id').attr("readonly", true);//经销商审批内容
                        $('#input_date_id').attr("disabled", true);//预计完成时间
                        _deleteFileButton = true;
                        $('#container').hide();
                        $('#btn_tempsave_id').hide();//暂存
                    } else {//其他情况
                        $('#textarea_ImprovementApproval_id').attr("readonly", true);//部门计划内容
                        $('#select_DisApprovalResult_id').attr("disabled", true);//经销商审批结果
                        $('#textarea_DisApprovalContent_id').attr("readonly", true);//经销商审批内容
                        $('#select_ZoneApprovalResult_id').attr("disabled", true);//区域审批结果
                        $('#textarea_ZoneApprovalContent_id').attr("readonly", true);//区域审批内容
                        $('#btn_save_id').hide();//保存
                        $('#btn_tempsave_id').hide();//暂存
                        $('#input_date_id').attr("disabled", true);//预计完成时间
                        _deleteFileButton = true;
                        $('#container').hide();
                    }
                } else {
                    if ((_reqPlanStatus == 'B' || _reqPlanStatus == 'D' || _reqPlanStatus == 'H') && "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'D') {//计划未制定或者内部未通过//部门登陆
                        $('#select_DisApprovalResult_id').attr("disabled", true);//经销商审批结果
                        $('#textarea_DisApprovalContent_id').attr("readonly", true);//经销商审批内容
                        $('#select_ZoneApprovalResult_id').attr("disabled", true);//区域审批结果
                        $('#textarea_ZoneApprovalContent_id').attr("readonly", true);//区域审批内容
                        _deleteFileButton = false;
                    }
                    else if ((_reqPlanStatus == 'C' || _reqPlanStatus == 'F') && "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S') {//内部待审核或者区域未通过//经销商登陆
                        $('#textarea_ImprovementApproval_id').attr("readonly", true);//部门计划内容
                        $('#select_ZoneApprovalResult_id').attr("disabled", true);//区域审批结果
                        $('#textarea_ZoneApprovalContent_id').attr("readonly", true);//区域审批内容
                        $('#input_date_id').attr("disabled", true);//预计完成时间
                        _deleteFileButton = true;
                        $('#container').hide();
                        $('#btn_tempsave_id').hide();//暂存
                    } else if (_reqPlanStatus == 'E' && "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'Z') {//内部待审批  //区域登陆
                        $('#textarea_ImprovementApproval_id').attr("readonly", true);//部门计划内容
                        $('#select_DisApprovalResult_id').attr("disabled", true);//经销商审批结果
                        $('#textarea_DisApprovalContent_id').attr("readonly", true);//经销商审批内容
                        $('#input_date_id').attr("disabled", true);//预计完成时间
                        _deleteFileButton = true;
                        $('#container').hide();
                        $('#btn_tempsave_id').hide();//暂存
                    } else {//其他情况
                        $('#textarea_ImprovementApproval_id').attr("readonly", true);//部门计划内容
                        $('#select_DisApprovalResult_id').attr("disabled", true);//经销商审批结果
                        $('#textarea_DisApprovalContent_id').attr("readonly", true);//经销商审批内容
                        $('#select_ZoneApprovalResult_id').attr("disabled", true);//区域审批结果
                        $('#textarea_ZoneApprovalContent_id').attr("readonly", true);//区域审批内容
                        $('#btn_save_id').hide();//保存
                        $('#btn_tempsave_id').hide();//暂存
                        $('#input_date_id').attr("disabled", true);//预计完成时间
                        _deleteFileButton = true;
                        $('#container').hide();
                    }
                }

            }
            if (_reqPlanApproalYN != undefined && _reqPlanApproalYN != null && _reqPlanApproalYN == "false") {
                $('#div_zon_id').hide();
                $('#textarea_ZoneApprovalContent_id').hide();
                $('#input_ZoneApprovalDate_id').hide();
            }
            $('#btn_save_id').on('click', function () {
                fn_saveAllocate();
            });
            $('#btn_tempsave_id').on('click', function () {
                fn_saveTempAllocate();
            });
        }
    </script>
    <!-- 3. InitData -->
    <script type="text/javascript">
        function fn_InitialData() {
            //var statusList = [];
            //var varCStatus = {};
            //varCStatus["Name"] = '内部待审核';
            //varCStatus["Value"] = "C";
            //statusList.push(varCStatus);
            //var varDStatus = {};
            //varDStatus["Name"] = '内部未通过';
            //varDStatus["Value"] = "D";
            //statusList.push(varDStatus);
            //var varGStatus = {};
            //varGStatus["Name"] = '审核通过';
            //varGStatus["Value"] = "E";
            //statusList.push(varGStatus);

            //var statusAll = [];
            //var varEStatus = {};
            //varEStatus["Name"] = '区域待审核';
            //varEStatus["Value"] = "E";
            //statusAll.push(varEStatus);
            //var varFStatus = {};
            //varFStatus["Name"] = '区域未通过';
            //varFStatus["Value"] = "F";
            //statusAll.push(varFStatus);
            //var varGStatus = {};
            //varGStatus["Name"] = '审核通过';
            //varGStatus["Value"] = "G";
            //statusAll.push(varGStatus);

            //$("#select_DisApprovalResult_id").html(JsonToCboList("Name", "Value", statusList));
            //$("#select_ZoneApprovalResult_id").html(JsonToCboList("Name", "Value", statusAll));
            //if (_reqPlanStatus != undefined && _reqPlanStatus != null) {
            //    if (_reqPlanStatus == 'B' || _reqPlanStatus == 'C') {
            //        $("#select_DisApprovalResult_id").val('C');
            //        $("#select_ZoneApprovalResult_id").val('E');
            //    } else if (_reqPlanStatus == 'D') {
            //        $("#select_DisApprovalResult_id").val('D');
            //        $("#select_ZoneApprovalResult_id").val('E');
            //    } else if (_reqPlanStatus == 'E') {
            //        $("#select_DisApprovalResult_id").val('E');
            //        $("#select_ZoneApprovalResult_id").val('E');
            //    } else if (_reqPlanStatus == 'F') {
            //        $("#select_DisApprovalResult_id").val('E');
            //        $("#select_ZoneApprovalResult_id").val('F');
            //    }else if (_reqPlanStatus == 'G') {
            //        $("#select_DisApprovalResult_id").val('E');
            //        $("#select_ZoneApprovalResult_id").val('G');
            //    }
            //}


            var statusList = [];
            var varAStatus = {};
            varAStatus["Name"] = '未分配';
            varAStatus["Value"] = "A";
            statusList.push(varAStatus);
            var varBStatus = {};
            varBStatus["Name"] = '计划未制定';
            varBStatus["Value"] = "B";
            statusList.push(varBStatus);
            var varCStatus = {};
            varCStatus["Name"] = '内部待审核';
            varCStatus["Value"] = "C";
            statusList.push(varCStatus);
            var varDStatus = {};
            varDStatus["Name"] = '内部未通过';
            varDStatus["Value"] = "D";
            statusList.push(varDStatus);
            var varEStatus = {};
            varEStatus["Name"] = '区域待审核';
            varEStatus["Value"] = "E";
            statusList.push(varEStatus);
            var varFStatus = {};
            varFStatus["Name"] = '区域未通过';
            varFStatus["Value"] = "F";
            statusList.push(varFStatus);
            var varGStatus = {};
            varGStatus["Name"] = '审核通过';
            varGStatus["Value"] = "G";
            statusList.push(varGStatus);


            if (_reqPlanStatus != undefined && _reqPlanStatus != null) {
                if ((_reqPlanStatus == 'C' || _reqPlanStatus == 'F') && "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S') {
                    var cfList = [];
                    cfList.push(varCStatus);
                    cfList.push(varDStatus);
                    if (_reqPlanApproalYN == "false") {
                        var varHStatus = {};
                        varHStatus["Name"] = '审核通过';
                        varHStatus["Value"] = "E";
                        cfList.push(varHStatus);
                    } else {
                        cfList.push(varEStatus);
                        if (_reqPlanStatus == 'F')
                            cfList.push(varFStatus);
                    }
                    $("#select_DisApprovalResult_id").html(JsonToCboList("Name", "Value", cfList));
                    $("#select_ZoneApprovalResult_id").html(JsonToCboList("Name", "Value", statusList));
                } else if (_reqPlanStatus == 'E' && "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'Z') {
                    var eList = [];
                    eList.push(varEStatus);
                    eList.push(varFStatus);
                    eList.push(varGStatus);
                    $("#select_DisApprovalResult_id").html(JsonToCboList("Name", "Value", statusList));
                    $("#select_ZoneApprovalResult_id").html(JsonToCboList("Name", "Value", eList));
                } else {
                    $("#select_DisApprovalResult_id").html(JsonToCboList("Name", "Value", statusList));
                    $("#select_ZoneApprovalResult_id").html(JsonToCboList("Name", "Value", statusList));
                }
                $("#select_DisApprovalResult_id").val(_reqPlanStatus);
                $("#select_ZoneApprovalResult_id").val(_reqPlanStatus);
            }
        }
    </script>
    <!--4. Grid Pictrue-->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'ShareUrl', label: '附件', width: 210, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },
                        formatter: fn_PreviewFile, unformat: fn_UnPreviewFile
                    },
                    {
                        name: '', label: '删除', width: 30, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },
                        formatter: fn_DeleteFile, unformat: fn_UnDeleteFile
                        , hidden: _deleteFileButton
                    },
                    {
                        name: 'Url', hidden: true
                    },
                    {
                        name: 'AttachName', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                //height: 'auto',
                minHeight: 0,
                maxHeight: 10,
                loadonce: true,
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 999999,
                //rowList: [5, 10],
                loadui: true,
                pginput: false,       // 페이지 입력창을 표시하는 것에 대한 속성
                pgbuttons: false,     // 페이지 이동 버튼을 표시하는 것에 대한 속성
                pgtext: null,
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='grid_rn']").addClass("readonlycell");
                }
            });
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        ///删除按钮
        function fn_DeleteFile(cellvalue, options, rowObject) {
            return '<a class="btn" onclick="fn_DoDeleteFile(' + options.rowId + ')"><span class="fa fa-trash-o gap-icon  fa-lg" style="color:red"></span></a>';
        }

        function fn_UnDeleteFile(cellvalue, options, rowObject) {
            return "";
        }
        function fn_DoDeleteFile(id) {
            var ids = $(id).attr("id");
            if (!ids)
                ids = id + '';
            _grid.delRowData(ids);
        }
        //添加行
        function fn_Addrow(picName, key) {
            var ids = _grid.getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata = {
                ShareUrl: picName,
                AttachName: picName,
                Url: host + g_dirname + key
            };
            _grid.addRowData(newid, rowdata, 'first');
            $(_grid.getGridRowById(newid)).addClass("edited");
        }

        ///预览按钮
        function fn_PreviewFile(cellvalue, options, rowObject) {
            var previewPath = rowObject.Url;
            @*if (rowObject.ShowUrl == undefined&&rowObject.Url!=null)
                previewPath = '@Url.Action("DownLoadAttachment")?path=uploads'+ "/" + encodeURIComponent(rowObject.Url.substring(rowObject.Url.lastIndexOf('/') + 1)) + '';*@
            if (rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".gif" || rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".jpg" || rowObject.AttachName.substr(rowObject.AttachName.lastIndexOf(".")) == ".png")
                return "<a href='" + previewPath + "' data-lightbox='PreviewPicture' style='margin-left: 10px; cursor: pointer; color: #0088cc; text-decoration: underline;'>" + rowObject.AttachName + "</a>";
            else {
                var url = '@Url.Action("DownLoadForRename", "Improve")' + "?fileName=" + encodeURIComponent(rowObject.AttachName) + "&sourcepath=" + previewPath;
                return " <a href='" + url + "'  class='btn' download='" + rowObject.AttachName + "'>" + rowObject.AttachName + "</a>";
            }
        }

        function fn_UnPreviewFile(cellvalue, options, rowObject) {
            return rowObject.AttachName;
        }
    </script>
    <!--6. Search-->
    <script type="text/javascript">
        function fn_SearchData() {
            $.sa.get(GETIMPPLANORRESULTDETAIL, {
                'improvementId': _reqImprovementId == undefined ? 0 : parseInt(_reqImprovementId)
                            , 'searchType': 'A'
                            , 'impResultId': 0
                            , 'tPId': 0
                            , 'itemId': 0
            },
                       {
                           "success": function (data) {
                               if (data.resultCode == 0) {
                                   if (_reqImprovementId != undefined) {
                                       var resultDto = JSON.parse(data.body);
                                       fn_SetGrid(resultDto.AttachList);//附件
                                       if (resultDto.ExpectedTime != null && resultDto.ExpectedTime != "") {
                                           var dateVal = resultDto.ExpectedTime.toString();
                                           if (dateVal.lastIndexOf("M") != -1) {
                                               var dateType = dateVal.substring(dateVal.lastIndexOf("M") - 1);
                                               var dateResult = dateVal.substring(0, dateVal.lastIndexOf(":"));
                                               var year = dateResult.substr(dateResult.lastIndexOf("/") + 1, 4);
                                               var md = dateResult.substr(0, dateResult.lastIndexOf("/")).replace("/", "-");
                                               var hh = $.trim(dateResult.lastIndexOf(":") - 2, 2);
                                               var min = dateResult.substr(dateResult.lastIndexOf(":") + 1);
                                               if (dateType == "PM") {
                                                   hh = (parseInt(hh) + 12) + "";

                                               } else if (hh.length == 1) {
                                                   hh = "0" + hh;

                                               }
                                               var dateStr = year + "-" + md + " " + hh + ":" + min;
                                               $('#input_date_id').val(dateStr);//时间
                                           } else {
                                               var dateResult = dateVal.substring(0, dateVal.lastIndexOf(":"));
                                               $('#input_date_id').val(dateResult.replace('/', '-').replace('/', '-'));//时间
                                           }
                                       }
                                       $('#textarea_ImprovementApproval_id').val(resultDto.ImprovementPlan);//部门改善计划
                                       //if (resultDto.SPlanStatus == "C" || resultDto.SPlanStatus == "D" || resultDto.SPlanStatus == "E")
                                       //{
                                       $('#select_DisApprovalResult_id').val(resultDto.SPlanStatus);//经销商审批结果
                                       //}
                                       $('#textarea_DisApprovalContent_id').val(resultDto.DisApprovalPlan);//经销商审批内容
                                       var fTime = resultDto.FeedbackTime == null ? "" : resultDto.FeedbackTime;
                                       $('#input_DisApprovalDate_id').val("审批时间：" + fTime);
                                       //if (resultDto.RPlanStatus == "E" || resultDto.RPlanStatus == "F" || resultDto.RPlanStatus == "G") {

                                       $('#select_ZoneApprovalResult_id').val(resultDto.RPlanStatus);//区域审批结果
                                       //}
                                       $('#textarea_ZoneApprovalContent_id').val(resultDto.RegionApprovalPlan);//区域审批内容
                                       var rTime = resultDto.FeedbackRegionTime == null ? "" : resultDto.FeedbackRegionTime;
                                       $('#input_ZoneApprovalDate_id').val("审批时间：" + rTime);
                                   }
                               } else {
                                   $.sa.alert(data.msg);
                               }
                           },
                           "failure": function (data, statusText, jqXHR) {
                               $("#callback_1_layer").html(data.msg);
                           }
                       }
                       , $("body"));
        }
    </script>
    <!--7. Validate Before Save-->
    <script type="text/javascript">
        function fn_saveValidate() {
            var isValiA = true;
            var isValiB = true;
            var isValiC = true;
            var isValiD = true;
            var isVali = true;
            if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'D' || ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S' && _reqAllocateYN == "false"))//部门
            {
                if ($.trim($("#input_date_id").val()) == "") {//部门改善计划select_DisApprovalResult_id
                    isValiA = false;
                }
                if ($.trim($("#textarea_ImprovementApproval_id").val()) == "") {//部门改善计划select_DisApprovalResult_id
                    isValiB = false;
                }
            }
            else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S')//经销商
            {
                if (_reqAllocateYN == "true" && ($.trim($("#select_DisApprovalResult_id").val()) == "" || (_reqPlanStatus != undefined && _reqPlanStatus != null && ($.trim($("#select_DisApprovalResult_id").val()) == "C" || $.trim($("#select_DisApprovalResult_id").val()) == "F")))) {//经销商登陆，状态未改动
                    isValiC = false;
                }

            }
            else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'Z')//区域
            {
                if ($.trim($("#select_ZoneApprovalResult_id").val()) == "" || (_reqPlanStatus != undefined && _reqPlanStatus != null && $.trim($("#select_ZoneApprovalResult_id").val()) == "E")) {//区域登陆，状态未改动
                    isValiD = false;
                }
            }

            if (!isValiA) {
                $.sa.warning("请输入预计完成时间", {
                    title: "警告！", fnClose: function () {
                        $("#input_date_id").focus();
                    }
                });
            } else if (!isValiB) {
                $.sa.warning("请输入改善计划", {
                    title: "警告！", fnClose: function () {
                        $("#textarea_ImprovementApproval_id").focus();
                    }
                });
            } else if (!isValiC) {
                $.sa.warning("请更改审批状态", {
                    title: "警告！", fnClose: function () {
                        $("#select_DisApprovalResult_id").focus();
                    }
                });
            } else if (!isValiD) {
                $.sa.warning("请更改审批状态", {
                    title: "警告！", fnClose: function () {
                        $("#select_ZoneApprovalResult_id").focus();
                    }
                });
            }
            isVali = isValiA & isValiB & isValiC & isValiD;
            return isVali;
        }
    </script>
    <!--7. Save-->
    <script type="text/javascript">
        function fn_saveAllocate() {
            if (fn_saveValidate()) {
                var myDialog = $.sa.confirm('提交完毕后不可修改，是否确定提交？', {
                    fnOk: function () {
                        var editData = _grid.jqGrid("getRowData");
                        var param = {};
                        param["ExpectedTime"] = $("#input_date_id").val();//预计完成时间
                        param["ImprovementId"] = _reqImprovementId == undefined ? 0 : parseInt(_reqImprovementId);//改善Id
                        param["InUserId"] = '@Context.Request.Cookies[SessionKeys.SESSION_USERID]';//登陆者
                        param["AttachList"] = editData;//附件列表

                        //改善内容
                        var willSaveContent = "";
                        if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'D')//部门登陆
                        {
                            willSaveContent = $("#textarea_ImprovementApproval_id").val();//部门改善结果
                        }
                        else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S')//经销商
                        {
                            if (_reqAllocateYN == "false")
                                willSaveContent = $("#textarea_ImprovementApproval_id").val();//服务商改善计划
                            else
                                willSaveContent = $("#textarea_DisApprovalContent_id").val();//经销商审批结果
                        } else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'Z') {//区域登陆
                            willSaveContent = $("#textarea_ZoneApprovalContent_id").val();//区域审批结果
                        }
                        param["ImprovementContent"] = willSaveContent;


                        //计划状态
                        var willSaveStatus = _reqPlanStatus == undefined ? "B" : _reqPlanStatus;
                        if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'D')//部门登陆
                        {
                            willSaveStatus = "C";//内部待审核
                        }
                        else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S')//经销商
                        {
                            if (_reqAllocateYN == "false")
                                if (_reqPlanApproalYN == "false")
                                    willSaveStatus = "G";//服务商提交  计划审批到服务商  则默认通过
                                else
                                    willSaveStatus = "E";//内部待审核  计划审批到区域    则默认区域待审核
                            else
                                willSaveStatus = $("#select_DisApprovalResult_id").val();//经销商审批结果
                        } else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'Z') {//区域登陆
                            willSaveStatus = $("#select_ZoneApprovalResult_id").val();//区域审批结果
                        }
                        param["SaveStatus"] = willSaveStatus;
                        $.sa.post(SAVEIMPROVEMENTITEM,
                            JSON.stringify(param),
                                 {
                                     "success": function (data) {
                                         if (data.resultCode == 0) {
                                             $.sa.alert('提交完毕。', { maxWidth: '400px', minWidth: '300px', showClose: false });
                                             myDialog.close();
                                             parent.popcallback('1');
                                         } else {
                                             $.sa.alert(data.msg);
                                             myDialog.close();
                                         }
                                     },
                                     "failure": function (data, statusText, jqXHR) {
                                         $("#callback_1_layer").html(data.msg);
                                     }
                                 }
                                 , $("body"));
                    }
                });
            }
        }
        function fn_saveTempAllocate() {
            if (fn_saveValidate()) {
                var myDialog = $.sa.confirm('是否要保存？', {
                    fnOk: function () {
                        var editData = _grid.jqGrid("getRowData");
                        var param = {};
                        param["ExpectedTime"] = $("#input_date_id").val();//预计完成时间
                        param["ImprovementId"] = _reqImprovementId == undefined ? 0 : parseInt(_reqImprovementId);//改善Id
                        param["InUserId"] = '@Context.Request.Cookies[SessionKeys.SESSION_USERID]';//登陆者
                        param["AttachList"] = editData;//附件列表

                        //改善内容
                        var willSaveContent = "";
                        if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'D')//部门登陆
                        {
                            willSaveContent = $("#textarea_ImprovementApproval_id").val();//部门改善结果
                        }
                        else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'S')//经销商
                        {
                            if (_reqAllocateYN == "false")
                                willSaveContent = $("#textarea_ImprovementApproval_id").val();//服务商改善计划
                            else
                                willSaveContent = $("#textarea_DisApprovalContent_id").val();//经销商审批结果
                        } else if ("@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]" == 'Z') {//区域登陆
                            willSaveContent = $("#textarea_ZoneApprovalContent_id").val();//区域审批结果
                        }
                        param["ImprovementContent"] = willSaveContent;


                        //计划状态
                        param["SaveStatus"] = "H";
                        $.sa.post(SAVEIMPROVEMENTITEM,
                            JSON.stringify(param),
                                 {
                                     "success": function (data) {
                                         if (data.resultCode == 0) {
                                             $.sa.alert('保存完成', { maxWidth: '400px', minWidth: '300px', showClose: false });
                                             myDialog.close();
                                             parent.popcallback('1');
                                         } else {
                                             $.sa.alert(data.msg);
                                             myDialog.close();
                                         }
                                     },
                                     "failure": function (data, statusText, jqXHR) {
                                         $("#callback_1_layer").html(data.msg);
                                     }
                                 }
                                 , $("body"));
                    }
                });
            }
        }
    </script>

}


