@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "申诉列表";
}
@section HeadCss{
    <style>
        #txtSDate.datewidth, #txtEDate.datewidth {
            width: 48.5%;
        }

        .datemargin {
            margin-left: 3%;
            margin-top: -1.4em;
        }

        .gap-icon {
            margin-right: 5px;
        }

        .jqgridbuttonwidth {
            width: 90%;
        }
    </style>

}
@section Scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        var _data;
        $(document).ready(function () {
            fn_Initial();
            fn_InitialData();
            fn_GridInit();
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initial() {
            _gridName = 'grid';
            _grid = $('#' + _gridName);
            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2, //显示到具体日期，如果设置到1，则显示到具体时间点。
                autoclose: 1,
                todayHighlight: 1,
                todayBtn: 1,
                startView: 2, //开始页面设置为具体到日期的那个页面。
                pickerPosition: 'bottom-left'
            });
            $("#txtSDate").val("@ViewBag.FirstDay");
            $("#txtEDate").val("@ViewBag.CurrentDate");
            DateFormatCheckEvent("txtSDate", { CheckType: "BLANK" });
            DateFormatCheckEvent("txtEDate", { CheckType: "BLANK" });

            $('#sel_Region_id').on('change', function () {
                $('#sel_Distributor_id').html(JsonToCboList("DisName", "DisCode", "", { "SelectType": "ALL" }));
                fn_GetArea();
            });
            $('#sel_Area_id').on('change', function () {
                fn_GetDis();
            });
            $("#btnSearch").on("click", function () {
                fn_Search();
            });
            $("#btnExcelDownload").on("click", function () {
                fn_downLoad();
            });
        }
    </script>
    <!-- 3. InitData -->
    <script type="text/javascript">
        function fn_InitialData() {

            //来源类型
            $.sa.get(TASKGETSTATUS, { GroupCode: '15' },
                {
                    "success": function (data) {
                        $("#selSourceType").html(JsonToCboList("Name", "Value", JSON.parse(data.body)));
                    },
                    "failure": function (data, statusText, jqXHR) {

                    }
                }
                , $(".Grid")
                , { type: "spin" });

            //车系
            //$.sa.get('http://localhost:6505/mbms/api/v1/Users/GetCarType',
            //$.sa.get(GETCARTYPE,
            //               {},
            //               {
            //                   "success": function (data) {
            //                       if (data != null) {
            //                           $('#selCarType').html(JsonToCboList("CTypeName", "CarTypeId", JSON.parse(data.body), { "SelectType": "ALL" }));
            //                           //$.sa.warning(data.body);
            //                       }
            //                   },
            //                   "failure": function (data, statusText, jqXHR) {
            //                       $.sa.warning(data.msg);
            //                   }
            //               });
            //大区
            $.sa.get(REPORTGETREGION, { inuserid: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]', usertype: '@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]' },
                {
                    "success": function (data) {
                        if (data != null) {
                            regionList = data.body;

                            if (JSON.parse(regionList).length == 1 && '@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]' == 'R') {
                                $("#sel_Region_id").html(JsonToCboList("Name", "Value", JSON.parse(regionList), { 'SelectType': 'NONE' }));
                                $('#sel_Distributor_id').html(JsonToCboList("DisName", "DisCode", "", { "SelectType": "ALL" }));
                                fn_GetArea()
                            } else {
                                $("#sel_Region_id").html(JsonToCboList("Name", "Value", JSON.parse(regionList), { 'SelectType': 'ALL' }));
                                //小区
                                $("#sel_Area_id").html(JsonToCboList("Name", "Value", "", { 'SelectType': 'ALL' }));
                                //经销商
                                $('#sel_Distributor_id').html(JsonToCboList("DisName", "DisCode", "", { "SelectType": "ALL" }));
                            }
                        }
                    },
                    "failure": function (data, statusText, jqXHR) {

                    }
                }
                , $(".Grid")
                , { type: "spin" });

        }

        function fn_GetArea() {
            //小区
            $.sa.get(REPORTGETAREA, { inuserid: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]', regionid: $.trim($("#sel_Region_id").val()), usertype: '@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]' },
                {
                    "success": function (data) {
                        if (data != null) {
                            $("#sel_Area_id").html(JsonToCboList("Name", "Value", JSON.parse(data.body), { 'SelectType': 'ALL' }));
                        }
                    },
                    "failure": function (data, statusText, jqXHR) {

                    }
                }
                , $(".Grid")
                , { type: "spin" });
        }
        function fn_GetDis() {
            //经销商
            $.sa.get(GETDISTRIBUTORBYAREAID,
                         { AreaId: $.trim($("#sel_Area_id").val()), UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' },
                         {
                             "success": function (data) {
                                 if (data != null) {
                                     $('#sel_Distributor_id').html(JsonToCboList("DisName", "DisId", JSON.parse(data.body), { "SelectType": "ALL" }));
                                 }
                             },
                             "failure": function (data, statusText, jqXHR) {
                                 $.sa.warning(data.msg);
                             }
                         });

        }
    </script>

    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_SearchChk() {
            if ($("#txtSDate").val() > $("#txtEDate").val()) {
                $.sa.warning("结束日期不能小于开始日期"
            , {
                fnClose: function () {
                    $("#txtEDate").focus();
                    return false;
                }
            });
            } else {
                return true;
            }
        }
        function fn_Search() {
            if (fn_SearchChk()) {
                var sdate = $("#txtSDate").val().replace(/\-/gi, '');
                var edate = $("#txtEDate").val().replace(/\-/gi, '');
                var sourceType = $("#selSourceType").val();
                //var carId = $("#selCarType").val();
                var areaId = $("#sel_Region_id").val();
                var zoneId = $("#sel_Area_id").val();
                var disId = $("#sel_Distributor_id").val();
                var appealResult = $("#sel_status_id").val();

                //$.sa.get("http://localhost:6505/mbms/api/v1/AppealMng/SearchApplealInfoList",
                $.sa.get(SEARCHAPPLEALINFOLIST,
                 {
                     sdate: sdate
                     , edate: edate
                     , sourceType: sourceType
                     , carId: 0
                     , areaId: areaId
                     , zoneId: zoneId
                     , disId: disId
                     , appealResult: appealResult
                 },
                 {
                     "success": function (data) {
                         _data = JSON.parse(data.body);
                         fn_SetGrid(_data);
                         if (_data.length == 0) {
                             $.sa.alert(data.msg);
                         }
                     },
                     "failure": function (data) {
                         $.sa.warning(data.msg);
                     }
                 }, $("body"));
            }
        }
        function fn_Appeal(id, result) {
            $.sa.pop("/AppealMng/APP040P", {
                params: {
                    'APId': id, 'Result': result
                },
                width: 850, hight: 700, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>&nbsp;申诉审核</span>'
           , popcallback: function (msg) {
               fn_Search();
           }
            });
        }
    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'Title', label: "体系名称", width: 150, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'DisName', label: "经销商名称", width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'CTypeName', label: "车系", width: 50, align: 'center',hidden:true,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'ApprealDateTime', label: '申诉时间', width: 40, align: 'center', editable: false,
                            unformat: function (cellvalue, options, rowObject) {
                                return cellvalue;
                            }, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'UserName', label: "申诉人", width: 50, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'AppealResult', label: "审核状态", width: 50, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }, formatter: function (cellvalue, options, rowObject) {
                                if (cellvalue == "P") {
                                    return "审核通过";
                                } else if (cellvalue == "F") {
                                    return "审核未过";
                                } else {
                                    return "待审核";
                                }

                            }, unformat: function (cellvalue, options, rowObject) {
                                return cellvalue;
                            }
                        },
                        {
                            name: 'SourceTypeName', label: '来源类型', width: 40, align: 'center', editable: false,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Search', label: '审核', width: 30, align: 'center', editable: false
                            , formatter: fn_SearchDetail, unformat: fn_UnSearchDetail, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Id', label: 'Id', width: 50, align: 'center', editable: false, hidden: true
                        },
                        {
                            name: 'TPId', label: 'TPId', width: 50, align: 'center', editable: false, hidden: true
                        },
                        {
                            name: 'TPType', label: 'TPType', width: 50, align: 'center', editable: false, hidden: true
                        }

                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 30],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='grid_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {
                    //var $t = $(this);
                    //if (r.TPStatus != "E") {
                    //    $t.find('#' + rowid).find(".start").attr("disabled", false);
                    //    $t.find('#' + rowid).find("[aria-describedby='grid_TPStatus']").addClass("readonlycell");
                    //}
                    //if (r.TPStatus == "S") {
                    //    $t.find('#' + rowid).find(".end").attr("disabled", false);
                    //    $t.find('#' + rowid).find("[aria-describedby='grid_TPStatus']").addClass("readonlycell");
                    //}
                }
            });
        }

        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }
        function fn_SaveCell() {
            var $t = $(this);
            var $ecs = $(".edit-cell", $t);
            $ecs.each(function (idx, ec) {
                var iRow = $(ec).parent().index();
                var iCol = $(ec).index();
                $t.saveCell(iRow, iCol);
            });
        }

        function fn_SearchDetail(cellvalue, options, rowObject) {
            if (rowObject.AppealResult == '0') {
                return '<button type="button" class="btn btn-primary end"  onclick="fn_Appeal(' + "'" + rowObject.Id + "',"
                    + "'" + rowObject.AppealResult + "'" + ')">审核</button>';
            } else {
                return '<button type="button" class="btn btn-primary end"  onclick="fn_Appeal(' + "'" + rowObject.Id + "',"
                + "'" + rowObject.AppealResult + "'" + ')">查看</button>';
            }
        }
        function fn_UnSearchDetail() {
            return "";
        }
    </script>

    <!-- 6 Excel 下载-->
    <script src="../js/excel/FileSaver.js"></script>
    <script src="../js/excel/jszip.min.js"></script>
    <script src="../js/excel/xlsx.js"></script>
    <script>
        function fn_downLoad() {
            if (_data == undefined) {
                $.sa.warning("请先查询数据，再下载！");
                return;
            } else if (_data.length == 0) {
                $.sa.warning("没有可下载的数据！");
                return;
            }

            var file = new xlsx.File();
            var sheet = file.addSheet('Report');
            sheet.setShowGridLine(false);
            sheet.setColWidth(0, 5, 7.5);
            sheet.setColWidth(5, 7, 8);

            var tr = sheet.addRow();
            tr.setHeightCM(1.2);

            for (var p = 0; p < 7; p++) {
                var tc = tr.addCell();
                if (p == 0) {
                    tc.value = "申诉列表";
                    tc.hMerge = 7;
                    tc.style.align.v = 'center';
                    tc.style.align.h = 'center';
                    border(tc, 1, 1, 1, 1);
                    fill(tc, 4)
                    font(tc, 12, "Microsoft YaHei", true);
                }
            }

            var header1 = sheet.addRow();
            var hrow1 = ['查询期间', $("#txtSDate").val() + "~" + $("#txtEDate").val(), '', '', '来源类型', $("#selSourceType option:selected").text(), '审核状态', $("#sel_status_id option:selected").text()];

            for (var y = 0; y < hrow1.length; y++) {
                var hc = header1.addCell();
                hc.style.align.v = 'center';
                hc.style.align.h = 'center';
                hc.style.font.color = '#555555';
                border(hc, 1, 1, 1, 1);
                font(hc);
                if (y == 1) {
                    hc.hMerge = 2;
                }
                hc.value = hrow1[y];
                if (y % 2 == 0) {
                    fill(hc, 4)
                }
            }

            var header2 = sheet.addRow();
            var hrow2 = ['厂家', $("#sel_Region_id option:selected").text(), '', '', '地区', $("#sel_Area_id option:selected").text(), '经销商', $("#sel_Distributor_id option:selected").text()];

            for (var y = 0; y < hrow2.length; y++) {
                var hc = header2.addCell();
                hc.style.align.v = 'center';
                hc.style.align.h = 'center';
                hc.style.font.color = '#555555';
                border(hc, 1, 1, 1, 1);
                font(hc);
                if (y == 1) {
                    hc.hMerge = 2;
                }
                hc.value = hrow2[y];
                if (y % 2 == 0) {
                    fill(hc, 4)
                }
            }

            sheet.addRow();

            var title = sheet.addRow();
            var hTitle = ['体系编号','体系名称', '','失分备注','', '经销商名称', '', '申诉时间', '申诉人','申诉内容', '审核状态','审核备注','批复时间', '来源类型'];
            for (var y = 0; y < hTitle.length; y++) {
                var hc = title.addCell();
                hc.style.align.v = 'center';
                hc.style.align.h = 'center';
                hc.style.font.color = '#555555';
                border(hc, 1, 1, 1, 1);
                font(hc);
                hc.value = hTitle[y];
                if (y == 1 || y == 3||y==5) {
                    hc.hMerge = 1;
                }
                fill(hc, 4)

            }
            drawRow(_data);

            function drawRow(data) {
                for (var i = 0; i < data.length; i++) {
                    var row = sheet.addRow();

                    var cell0_insert = row.addCell();
                    border(cell0_insert, 1, 1, 1, 1);
                    cell0_insert.value = data[i].ScoreStandard;
                    cell0_insert.style.align.wrapText = true;
                    cell0_insert.style.align.v = 'center';
                    cell0_insert.style.align.h = 'center';
                    font(cell0_insert);

                    var cell0 = row.addCell();
                    border(cell0, 1, 1, 1, 1);
                    cell0.value = data[i].Title;
                    cell0.style.align.wrapText = true;
                    cell0.style.align.v = 'center';
                    cell0.style.align.h = 'left';
                    font(cell0);

                    var cell = row.addCell();
                    border(cell, 1, 1, 1, 1);
                    fill(cell, 4);

                    cell0.hMerge = 1;

                    var cell1_insert = row.addCell();
                    border(cell1_insert, 1, 1, 1, 1);
                    cell1_insert.value = data[i].SRemarks;
                    cell1_insert.style.align.v = 'center';
                    cell1_insert.style.align.h = 'left';
                    font(cell1_insert);

                    var cell1_insert_1 = row.addCell();
                    border(cell1_insert_1, 1, 1, 1, 1);
                    fill(cell1_insert_1, 4);

                    cell1_insert.hMerge = 1;

                    var cell1 = row.addCell();
                    border(cell1, 1, 1, 1, 1);
                    cell1.value = data[i].DisName;
                    cell1.style.align.v = 'center';
                    cell1.style.align.h = 'left';
                    font(cell1);

                    var cell = row.addCell();
                    border(cell, 1, 1, 1, 1);
                    fill(cell, 4);

                    cell1.hMerge = 1;

                    var cell2 = row.addCell();
                    border(cell2, 1, 1, 1, 1);
                    cell2.value = data[i].ApprealDateTime;
                    cell2.style.align.v = 'center';
                    cell2.style.align.h = 'center';
                    font(cell2);

                    var cell3 = row.addCell();
                    border(cell3, 1, 1, 1, 1);
                    cell3.value = data[i].UserName;
                    cell3.style.align.wrapText = true;
                    cell3.style.align.v = 'center';
                    cell3.style.align.h = 'left';
                    font(cell3);

                    var cell4_insert = row.addCell();
                    border(cell4_insert, 1, 1, 1, 1);
                    cell4_insert.value = data[i].AppealContent;
                    cell4_insert.style.align.wrapText = true;
                    cell4_insert.style.align.v = 'center';
                    cell4_insert.style.align.h = 'left';
                    font(cell4_insert);

                    //var cell4_insert_1 = row.addCell();
                    //border(cell4_insert_1, 1, 1, 1, 1);
                    //fill(cell4_insert_1, 4);

                    //cell4_insert.hMerge = 1;

                    var cell4 = row.addCell();
                    border(cell4, 1, 1, 1, 1);
                    var result = "";
                    if (data[i].AppealResult == "P") {
                        result = "审核通过";
                    } else if (data[i].AppealResult == "F") {
                        result = "审核未过";
                    } else {
                        result = "待审核";
                    }
                    cell4.value = result;
                    cell4.style.align.wrapText = true;
                    cell4.style.align.v = 'center';
                    cell4.style.align.h = 'center';
                    font(cell4);

                    var cell5_insert = row.addCell();
                    border(cell5_insert, 1, 1, 1, 1);
                    cell5_insert.value = data[i].ApprovalRemark;
                    cell5_insert.style.align.wrapText = true;
                    cell5_insert.style.align.v = 'center';
                    cell5_insert.style.align.h = 'left';
                    font(cell5_insert);

                    //var cell5_insert_1 = row.addCell();
                    //border(cell5_insert_1, 1, 1, 1, 1);
                    //fill(cell5_insert_1, 4);

                    //cell5_insert.hMerge = 1;

                    var cell5_insert_1 = row.addCell();
                    border(cell5_insert_1, 1, 1, 1, 1);
                    cell5_insert_1.value = data[i].ApprovalDateTime;
                    cell5_insert_1.style.align.wrapText = true;
                    cell5_insert_1.style.align.v = 'center';
                    cell5_insert_1.style.align.h = 'center';
                    font(cell5_insert_1);

                    var cell5 = row.addCell();
                    border(cell5, 1, 1, 1, 1);
                    cell5.value = data[i].SourceTypeName;
                    cell5.style.align.wrapText = true;
                    cell5.style.align.v = 'center';
                    cell5.style.align.h = 'center';
                    font(cell5);

                }
            }



            file
              .saveAs('blob')
              .then(function (content) {
                  saveAs(content, "申诉列表.xlsx");
              });

        }
        function border(cell, top, left, bottom, right) {
            //var light = 'ffded9d4';
            var light = 'ffffffff';
            var dark = 'ff7e6a54';
            cell.style.border.top = 'thin';
            cell.style.border.topColor = top ? dark : light;
            cell.style.border.left = 'thin';
            cell.style.border.leftColor = left ? dark : light;
            cell.style.border.bottom = 'thin';
            cell.style.border.bottomColor = bottom ? dark : light;
            cell.style.border.right = 'thin';
            cell.style.border.rightColor = right ? dark : light;
        }

        function fill(cell, type) {
            type = type || 0;
            var colors = ['ffffffff', 'ffa2917d', 'ffe4e2de', 'fffff8df', '74a3d2'];
            // 1: header, 2: first col, 3: second col, 4: gray, 0: white
            cell.style.fill.patternType = 'solid';
            cell.style.fill.fgColor = colors[type];
            cell.style.fill.bgColor = 'ffffffff';
        }
        function font(cell, fontsize, fontfamily, bold, underline) {
            fontsize = fontsize || 6;
            fontfamily = fontfamily || "Microsoft YaHei";
            bold = bold || false;
            underline = underline || false;
            cell.style.font.size = fontsize;
            cell.style.font.name = fontfamily;
            cell.style.font.bold = bold;
            cell.style.font.underline = underline;
        }


    </script>
}
<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">申诉管理</span><span>&nbsp;>&nbsp;</span>
        <span class="page-title">申诉列表</span>
        <div class="pull-right">
            <button class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
            <button class="btn btn-primary" id="btnExcelDownload">
                <span class="fa fa-file-excel-o gap-icon"></span>下载
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">期间</span>
            <input size="16" type="text" value="@ViewBag.FirstDay" class="form_datetime form-control text-center datewidth"
                   id="txtSDate" />
            <span>~</span>
            <input size="16" type="text" value="@ViewBag.CurrentDate" class="form_datetime form-control text-center datewidth datemargin"
                   id="txtEDate" />
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">来源类型</span>
            <select class="form-control" id="selSourceType" disabled></select>
        </div>
    </div>
    @*<div class="col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon title-sm">车系</span>
                <select class="form-control" id="selCarType"></select>
            </div>
        </div>*@
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm">审核状态</span>
            <select class="form-control readonly" id="sel_status_id">
                <option value="0">全部</option>
                <option value="N">待审核</option>
                <option value="P">审核通过</option>
                <option value="F">审核未过</option>
            </select>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4">
        <div class="input-group" id="distributor_id">
            <span class="input-group-addon title-sm">厂家</span>
            <select class="form-control readonly" id="sel_Region_id"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group" id="distributor_id">
            <span class="input-group-addon title-sm">地区</span>
            <select class="form-control readonly" id="sel_Area_id"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group" id="distributor_id">
            <span class="input-group-addon title-sm">经销商</span>
            <select class="form-control readonly" id="sel_Distributor_id"></select>
        </div>
    </div>
</div>
@*<div class="row gap-top">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon title-sm">审核状态</span>
                <select class="form-control readonly" id="sel_status_id">
                    <option value="0">全部</option>
                    <option value="N">待审核</option>
                    <option value="P">审核通过</option>
                    <option value="F">审核未过</option>
                </select>
            </div>
        </div>
    </div>*@
<div class="row gap-top">
    <div id="Grid" class="col-md-12">
        <table id="grid" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>
