@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "计划任务导入";
}
@section Scripts{
    <style type="text/css">
        #txtSDate.datewidth, #txtEDate.datewidth {
            width: 48.5%;
        }

        #divfile {
            width: 25%;
        }

        .datemargin {
            margin-left: 3%;
            margin-top: -1.4em;
        }

        .aline {
            text-decoration: underline;
            font-size: 12px;
        }
    </style>
    <!-- 1. Load -->
    <script type="text/javascript">
        var _startDate = '@ViewBag.StartDate';
        var _nowDate = '@ViewBag.NowDate';
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: "yyyy-mm-dd",
                minView: 2,
                autoclose: true,
                todayBtn: true,
                todayHighlight: 1,
                pickerPosition: "bottom-right",
                language: "zh-CN",
                //endDate: _nowDate,
                forceParse: 0
            });
            DateFormatCheckEvent("txtSDate");
            DateFormatCheckEvent("txtEDate");
            Initialize();
            InitData();
            $("#upload").click(function (evt) {
                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length ; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "/Task/UploadPlansAjax",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        // alert(message);
                        if (JSON.parse(message).Success == true) {
                            fn_ExcelUpload(message);
                            //$.sa.warning("上传成功");
                        } else {
                            $.sa.warning("上传失败,请重试.");
                        }
                    },
                    error: function () {
                        $.sa.warning("上传失败,请重试.");
                    }
                });
            });
        });
    </script>

    <!-- 2. Init -->
    <script type="text/javascript">
    function Initialize() {
        fn_GridInit();
        var width = $("div.ui-jqgrid-bdiv").width();
        $("div.ui-jqgrid-sdiv").css("width", width);
        $("#btnSearch").on("click", function () {
            fn_Search();
        });
        $("#btnCreate").on("click", function () {
            fn_Create();
        });
        $("#files").change(function () {
            $("#fileText").val($(this).val());
            $("#upload").click();
        });
        $("#btnExcelUpload").on("click",function(){
            $("#files").val("");
            $('#files').click();
        });
        $("#btnExcelDown").on("click",function(){
            //location.href = "~/Template/Score.xlsx";
            document.getElementById("a").click();
        });
    }

    function InitData() {
        $('#txtSDate').val(_startDate);
        $('#txtEDate').val(_nowDate);
        //fn_initStatus();
        fn_initsourceType();
     }
    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">
    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_initStatus() {
            // $.sa.get('http://infiqaapi.elandcloud.com/infi/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                       { GroupCode: '09'},
                       {
                           "success": function (data) {
                               if (data != null) {
                                   $('#selStatus').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "ALL" }));
                                   //$.sa.warning(data.body);
                               }
                           },
                           "failure": function (data, statusText, jqXHR) {
                               $.sa.warning(data.msg);
                           }
                       });
        }
        function fn_initsourceType() {
            //$.sa.get('http://infiqaapi.elandcloud.com/infi/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                           { GroupCode: '15' },
                           {
                               "success": function (data) {
                                   if (data != null) {
                                       $('#selsourceType').html(JsonToCboList("Name", "Value", JSON.parse(data.body)));
                                       //$.sa.warning(data.body);
                                   }
                               },
                               "failure": function (data, statusText, jqXHR) {
                                   $.sa.warning(data.msg);
                               }
                           });
        }
        function fn_Search() {
            var sdate = $("#txtSDate").val().replace(/\-/gi, '');
            var edate = $("#txtEDate").val().replace(/\-/gi, '');
            if (sdate > edate) {
                $.sa.warning("结束时间不能在开始时间之前");
                return;
            }
            var title = $("#txtTitle").val();
            var type = "0";//$("#selStatus").val();
            var sourceType=$("#selsourceType").val();
            //$.sa.get('http://localhost:6505/infi/api/v1/PlanTask/GetPlansList',
            $.sa.get(TASKGETPLANSLIST,
                          { Title: title, VisitType: type, SDate: sdate, EDate: edate, UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]',SourceType:sourceType },
                          {
                              "success": function (data) {
                                  if (data != null && JSON.parse(data.body).length>0) {
                                      //$('#selStatus').html(JsonToCboList("Name", "Code", JSON.parse(data.body), { "SelectType": "ALL" }));
                                      fn_SetGrid(JSON.parse(data.body));
                                  } else {
                                      $.sa.warning("没有查询到数据！");
                                      fn_SetGrid("");
                                  }
                              },
                              "failure": function (data, statusText, jqXHR) {
                                  fn_SetGrid("");
                                  $.sa.warning(data.msg);
                              }
                          }, $("body"));
        }
        function fn_GetPlanDetail(obj) {
            var rowData = $('#gridTaskPlans').getRowData(obj);
            $.sa.pop('/Task/TAS021P', {
                height:'520px',width:950, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>计划任务详细</span>',
                params: {
                    PId: rowData.Id,
                    PStatus: rowData.PStatus
                }
               , popcallback: function (msg) {
                   if (msg != null && msg.length > 0) {
                       fn_Search();
                       $.sa.warning("修改成功！");
                   }
               }
            });
        }
        function fn_Push(obj) {
            //alert(obj);
           /* var item = { Id:obj,UserId:'@Context.Request.Cookies[SessionKeys.SESSION_USERID]' }
            //$.sa.post('http://localhost:6505/infi/api/v1/PlanTask/PlansPush',
            /*$.sa.post(PLANSPUSH,
                       JSON.stringify(item),
                       {
                           "success": function (data) {
                                   $.sa.warning("推送经销商通知成功！");
                                   //fn_SetGrid("");
                           },
                           "failure": function (data, statusText, jqXHR) {
                               //fn_SetGrid("");
                               $.sa.warning(data.msg);
                           }
                       }, $("body"));*/

            $.sa.pop('/Task/TAS012P', {
                height:600,width:500, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>推送方式</span>',
                params: {
                    PId:obj
                }
           , popcallback: function (msg) {
               if (msg != null && msg.length > 0) {
                   fn_Search();
                   $.sa.warning("推送成功！");
               }
           }
            });
        }
        function fn_Create() {
            location.href = '@Url.Action("TAS020","Task")';
        }
        function fn_ExcelUpload(obj) {
            var plans=JSON.parse(JSON.parse(obj).Result).Plans;
            var taskofplans=JSON.parse(JSON.parse(obj).Result).TaskOfPlans;
            plans.splice(0,1);
            taskofplans.splice(0,1);
            var item = {InUserId:@Context.Request.Cookies[SessionKeys.SESSION_USERID],Plans:plans,TaskOfPlans:taskofplans,TaskCard:JSON.parse(JSON.parse(obj).Result).TaskCard
            ,TaskItem:JSON.parse(JSON.parse(obj).Result).TaskItem,CheckStandard:JSON.parse(JSON.parse(obj).Result).CheckStandard,Score:JSON.parse(JSON.parse(obj).Result).Score,CheckResult:JSON.parse(JSON.parse(obj).Result).CheckResult,PictureStandard:JSON.parse(JSON.parse(obj).Result).PictureStandard};
           // $.sa.post('http://localhost:6505/infi/api/v1/PlanTask/ExcelUploadPlans',
            $.sa.post(EXCELUPLOADPLANS,
                          JSON.stringify(item),
                          {
                              "success": function (data) {
                                  if (data != null && data.msg == "") {
                                      $.sa.warning("保存成功！");
                                      //fn_ClosePlan();
                                  } else {
                                      $.sa.warning("保存失败！");
                                      //fn_SetGrid("");
                                  }
                              },
                              "failure": function (data, statusText, jqXHR) {
                                  //fn_SetGrid("");
                                  $.sa.warning(data.msg);
                              }
                          }, $("body"));
        }
    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            $('#gridTaskPlans').jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'Id', label: '计划任务Id', width: 80, align: 'center', hidden: false,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Title', label: '计划任务标题', width: 200, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Name', label: '经销商', width: 120, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'VisitDateTime', label: '拜访时间', width: 90, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'VisitTypeName', label: '拜访类型', width: 80, align: 'center',hidden:true,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'SourceName', label: '来源类型', width: 80, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'LastDate', label: '最近更新时间', width: 90, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                     {
                         name: 'PStatusName', label: '状态', width: 80, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }
                     },
                     {
                         name: 'Rate', label: '完成率', width: 70, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         },
                         formatter:function(v, o, r) {
                             if (r.Totle == "0") {
                                 return 0
                             } else {
                                 return r.Complete + "/" + r.Totle;
                             }

                         }, unformat:function(v,o,r){
                             return 0;
                         }
                     },
                     {
                         name: 'Rate', label: '推送经销商通知', width: 120, align: 'center',hidden:true,
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }, formatter: function (v, o, r) {
                             if (r.PStatus=="P") {
                                 return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_Push(' + r.Id + ')">推送经销商通知</button>';
                             }else{
                                 return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;" disabled  onclick="fn_Push(' + r.Id + ')">推送经销商通知</button>';
                             }
                         }, unformat: function () {
                             return 0;
                         }
                     },
                     {
                         name: 'Rate', label: '详细', width: 70, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }, formatter: function (v,o,r) {
                             return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_GetPlanDetail(' + o.rowId + ')">详细</button>';
                         }, unformat: function () {
                             return 0;
                         }
                     },
                     {
                         name: 'VisitType', label: 'VisitType', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'PStatus', label: 'PStatus', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'Totle', label: 'Totle', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'Complete', label: 'Complete', width: 103, align: 'center', hidden: true
                     },
                     {
                         name: 'SourceCode', label: 'SourceCode', width: 103, align: 'center', hidden: true
                     }
                ],
                width: $('#Grid').width(),
                //shrinkToFit:false,
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 15,
                rowList: [15, 30, 45],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                //autoScroll: false,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                        //                    ShowNoDataDiv("grid","msg","没有数据");
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridTaskPlans_rn']").addClass("readonlycell");
                }
            });
        }

        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            $('#gridTaskPlans').clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
    </script>
}
<div class="">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">申诉管理</span><span>&nbsp;>&nbsp;</span><span class="page-title">计划任务导入</span>
            <div class="pull-right">
                <button id="btnSearch" class="btn btn-primary">
                    <span class="fa fa-search gap-icon"></span>查询
                </button>
                <button id="btnCreate" class="btn btn-primary hidden">
                    <span class="fa fa-plus gap-icon"></span>制作
                </button>
                <button id="btnExcelUpload" class="btn btn-primary">
                    <span class="fa fa-file-excel-o gap-icon"></span>Excel上传
                </button>
                <button id="btnExcelDown" class="btn btn-primary">
                    <span class="fa fa-file-excel-o gap-icon"></span>Excel模板下载
                </button>
                <a href="~/Template/计划任务模板.xlsx" class="aline" id="a" style="display:none">Excel模板下载</a>
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-md-0" id="divfile">
                <input id="files" name="files" type="file" style="display:none" />
                <input id="fileText" type="text" class="form-control" style="display:none" />
            </div>
            <div class="col-md-0">
                <input type="button" id="upload" class="btn btn-primary" value="Excel上传" style="display:none;" />
            </div>
        </div>
    </form>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon ">拜访期间</span>
                <input size="16" type="text" value="" class="form_datetime form-control text-center datewidth"
                       id="txtSDate" />
                <span>~</span>
                <input size="16" type="text" value="" class="form_datetime form-control text-center datewidth datemargin"
                       id="txtEDate" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group ">
                <span class="input-group-addon title-sm">计划任务标题</span>
                <input size="16" type="text" value="" class="form-control" id="txtTitle" />
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon title-sm">拜访类型</span>
                <select class="form-control" id="selStatus"></select>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">来源类型</span>
                    <select class="form-control" id="selsourceType" disabled></select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top:10px;">
        <div id="Grid" class="col-md-12">
            <table id="gridTaskPlans" class="ui-jqgrid-htable"></table>
            <div id="pager" class="page">
            </div>
        </div>
    </div>
</div>