@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "得分查看";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<style>
    .inputWidth {
        width: auto !important;
    }

    #txtSDate.datewidth, #txtEDate.datewidth {
        width: 48.5%;
    }

    .datemargin {
        margin-left: 3%;
        margin-top: -1.4em;
    }

    .gap-icon {
        margin-right: 5px;
    }

    .inputMaxWidth {
        max-width: 280px !important;
    }
</style>
@section scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        var _grid2, _gridName2;
        var _tpStatus;
        var _rowNo;
        var _userType = "@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]";
        var _disId = 0;
        var _pageType;
        var _disName;
        var _disCode;
        $(document).ready(function () {
            //经销商登录时，显示日期控件，查看已结束的任务列表
            fn_SetControlsByType();
            fn_InitialData();
            fn_Initialize();
            fn_InitGrid();

            $("#btnSearch").on("click", function () {
                if (_userType == "D" || _userType == "S") {
                    _disId = "@Context.Request.Cookies[SessionKeys.SESSION_ORGSERVERID]";//绑定登录人的disId
                }
                if (_disId == 0) {
                    $.sa.warning("请选择经销商！");
                    return;
                } else if ($("#txtSDate").val() > $("#txtEDate").val()) {
                    $.sa.warning("结束日期不能小于开始日期！");
                    return;
                }
                fn_Search(_disId);
            });
            $("#btnSave").on("click", function () {
                fn_Save();
            });
            //btnSelect
            $("#btnSelect").on("click", function () {
                fn_SelectDistributor();
            });
            //Excel数据下载
            $("#btnExcelDownLoad").on("click", function () {
                var disCode = "";
                var disname = "";
                var name = Reconvert("@Context.Request.Cookies[SessionKeys.SESSION_NAME]");
                if (_userType == "D" || _userType == "S") {
                    disCode = "@Context.Request.Cookies[SessionKeys.SESSION_ORGSERVERID]";//绑定登录人的disId
                    disname = Reconvert("@Context.Request.Cookies[SessionKeys.SESSION_NAME]");
                } else {
                    disCode = _disId;
                    disname = _disName;
                }
                if (disCode == "") {
                    $.sa.warning("请选择经销商！");
                    return;
                } else if ($("#txtSDate").val() > $("#txtEDate").val()) {
                    $.sa.warning("结束日期不能小于开始日期！");
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/Tour/UploadScoreAjaxDown?disCode=" + disCode + "&startTime=" + $("#txtSDate").val() + "&endTime=" + $("#txtEDate").val() + "&status=F&sourceType=" + $("#selSourceType").val() + "&disName=" + disname + "&name=" + name,
                    contentType: false,
                    processData: false,
                    //data: data,
                    success: function (message) {
                        document.getElementById("a").click();
                    },
                    error: function () {
                        $.sa.warning("下载失败,请重试.");
                    }
                });
            });
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initialize() {

            _gridName = 'gridTask';
            _grid = $('#' + _gridName);

            _gridName2 = 'gridItem';
            _grid2 = $('#' + _gridName2);

            $(".form_datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2, //显示到具体日期，如果设置到1，则显示到具体时间点。
                autoclose: 1,
                todayHighlight: 1,
                todayBtn: 1,
                startView: 2, //开始页面设置为具体到日期的那个页面。
                pickerPosition: 'bottom-left'
            });
            DateFormatCheckEvent("txtSDate", { CheckType: "BLANK" });
            DateFormatCheckEvent("txtEDate", { CheckType: "BLANK" });
        }
        function fn_InitGrid() {
            fn_GridInit();

            fn_GridInit2();
        }
        function fn_SetControlsByType() {
            _pageType = fn_ReturnStatus();
            if (_pageType == "N") {
                $("#divDistributorSelect").addClass("hidden");
                //$("#divSave").addClass("hidden");
            } else if (_pageType == "") {
                $("#divDistributorSelect").removeClass("hidden");
                //$("#divSave").removeClass("hidden");
            }
        }
        function fn_ReturnStatus() {
            var dataStatus = "";
            if (_userType == "A" || _userType == "Z" || _userType == "R") {
                dataStatus = "";
            } else {
                dataStatus = "F";
            }
            return dataStatus;
        }
        function fn_InitialData() {
            $.sa.get(TASKGETSTATUS, { GroupCode: '15' },
                {
                    "success": function (data) {
                        $("#selSourceType").html(JsonToCboList("Name", "Value", JSON.parse(data.body)));
                    },
                    "failure": function (data, statusText, jqXHR) {

                    }
                }
                , $(".Grid")
                , { type: "spin" });
        }
    </script>
    <!-- 3. Validate -->
    <script type="text/javascript">
        function fn_GridValidate(editData) {
            if (editData.length <= 0) {
                $.sa.warning("没有要保存的数据");
                return false;
            }
            return true;
        }
    </script>

    <!-- 4. Custom Function -->
    <script type="text/javascript">

        function fn_Search(disId) {
            //$.sa.get("http://10.202.101.144:6505/toyota/api/v1/Tour/GetTaskListByDisId",
            $.sa.get(GETTASKLISTBYDISID,
                     {
                         disId: disId
                         , startTime: $("#txtSDate").val()
                         , endTime: $("#txtEDate").val()
                         //, status: fn_ReturnStatus()
                         , status: "F"
                         , sourceType: $("#selSourceType").val()
                         , inUserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]'
                     },
                     {
                         "success": function (data) {
                             fn_SetGrid2([]);
                             fn_SetGrid(JSON.parse(data.body));
                             if (JSON.parse(data.body).length == 0) {
                                 $.sa.alert(data.msg);
                             }
                         },
                         "failure": function (data) {
                             $.sa.warning(data.msg);
                         }
                     }, $("body"));
        }

        function fn_CheckStart(cellvalue, options, rowObject) {
            return '<button type="button" class="btn btn-primary start"  onclick="fn_Start(' + options.rowId + ',\'S\',this)">开始检查</button>';
        }
        function fn_UnCheckStart() {

            return "";
        }

        function fn_CheckEnd(cellvalue, options, rowObject) {
            return '<button type="button" class="btn btn-primary end"  onclick="fn_Start(' + options.rowId + ',\'E\',this)">结束检查</button>';
        }
        function fn_UnCheckEnd() {

            return "";
        }

        function fn_SearchDetail(cellvalue, options, rowObject) {
            return '<button type="button" class="btn btn-primary end"  onclick="fn_Start(' + options.rowId + ',\'R\',this)">查看体系</button>';
        }
        function fn_UnSearchDetail() {

            return "";
        }
        function fn_ScoreReg(cellvalue, options, rowObject) {
            if (_pageType == "F" || _tpStatus == "检查完成") {
                return '<button type="button" class="btn btn-primary score"  onclick="fn_ScoreSearchPop(' + options.rowId + ')">查看分数</button>';
            } else {
                return '<button type="button" class="btn btn-primary score"  onclick="fn_ScoreRegPop(' + options.rowId + ')">登记分数</button>';

            }
        }
        function fn_UnScoreReg() {
            return "";
        }
        function fn_Start(rowId, operation, obj) {
            var rowObject = $("#gridTask").jqGrid('getRowData', rowId);
            _tpStatus = rowObject.TPStatus;
            if (_tpStatus == "检查完成") {
                operation = "";
            }
            if (operation == "R") {
                operation = "";
            }
            _rowNo = rowId;
            var tpType = rowObject.TPType;
            if (tpType == "C") {
                if (operation == "E") {
                    $.sa.get(GETCUSTOMIZEDTASKBYTASKID,
                        {
                            taskId: rowObject.TPId
                            , operation: operation
                        },
                        {
                            "success": function (data) {
                                fn_Search(_disId);
                            },
                            "failure": function (data) {
                                $.sa.warning(data.msg);
                            }
                        }, $("body"));
                } else {
                    fn_SetGrid2([]);
                    fn_CustomizedTaskPop(rowObject.TPId, operation, _tpStatus);
                }
            } else {
                //$.sa.get("http://toyotaqaapi.elandcloud.com/toyota/api/v1/Tour/GetItemListByTaskId",
                $.sa.get(GETITEMLISTBYTASKID,
                         {
                             taskId: rowObject.TPId
                             , operation: operation
                         },
                         {
                             "success": function (data) {

                                 // 结束之后重新查询
                                 if (operation == "E") {
                                     fn_Search(_disId);
                                     fn_SetGrid2([]);
                                 } else {
                                     fn_SetGrid2(JSON.parse(data.body));
                                 }

                             },
                             "failure": function (data) {
                                 $.sa.warning(data.msg);
                             }
                         }, $("body"));
            }
        }
        function fn_Save() {
            fn_SaveCell.call(_grid2);
            var editData = _grid2.getChangedCells('all');
            if (!fn_GridValidate(editData)) {
                return;
            }
            for (var i = 0; i < editData.length; i++) {
                var item = { Score: 0, PlanApproalYN: editData[i].PlanApproalYN, ResultApproalYN: editData[i].ResultApproalYN, TPId: editData[i].TPId, TIId: editData[i].TIId, UserId: "@Context.Request.Cookies[SessionKeys.SESSION_USERID]" };
                //$.sa.post("http://toyotaqaapi.elandcloud.com/toyota/api/v1/Tour/SaveItemApproalYN",
                $.sa.post(SAVEITEMAPPROALYN,
                              JSON.stringify(item),
                              {
                                  "success": function (data) {
                                      $.sa.alert("保存成功");
                                      $("#gridTask").find("tr[id='" + _rowNo + "']").find(".start").click();
                                  },
                                  "failure": function (data) {
                                      $.sa.alert("保存失败");
                                  }
                              }, $("body"));
            }
        }

        //经销商Pop
        function fn_SelectDistributor(id) {
            $.sa.pop('/Tour/TOU010P', {
                height: 600, width: 600, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>经销商列表</span>',
                params: {
                    Type: "S"
                }
               , popcallback: function (msg) {
                   if (msg != null && msg.length > 0) {
                       $(".input-group input:text").eq(0).val(msg[0].DisCode);
                       $(".input-group input:text").eq(1).val(msg[0].DisName);
                       _disId = msg[0].DisId;
                       _disCode = msg[0].DisCode;
                       _disName = msg[0].DisName;

                   }
               }
            });
        }
        //得分登记Pop
        function fn_ScoreRegPop(rowId) {
            var rowObject = $("#gridItem").jqGrid('getRowData', rowId);

            $.sa.pop('/Tour/TOU011P', {
                height: 700, width: 850, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>得分登记</span>',
                params: {
                    TPId: rowObject.TPId,
                    TIId: rowObject.TIId,
                    SeqNo: rowObject.SeqNo
                }
              , popcallback: function (msg) {
                  if (msg != null && msg.length > 0) {
                      $("#gridTask").find("tr[id='" + _rowNo + "']").find(".start").click();
                  }
              }
            });
        }
        //得分查看Pop
        function fn_ScoreSearchPop(rowId) {
            var rowObject = $("#gridItem").jqGrid('getRowData', rowId);

            $.sa.pop('/Tour/TOU020P', {
                height: 560, width: 1030, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>得分查看</span>',
                params: {
                    TPId: rowObject.TPId,
                    TIId: rowObject.TIId,
                    SeqNo: rowObject.SeqNo
                }
              , popcallback: function (msg) {
                  if (msg != null && msg.length > 0) {
                      $("#gridTask").find("tr[id='" + _rowNo + "']").find(".start").click();
                  }
              }
            });
        }
        //自定义任务检核Pop
        function fn_CustomizedTaskPop(tPId, operation, tpStatus) {
            $.sa.pop('/Tour/TOU012P', {
                height: 400, width: 600, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>自定义任务检核Pop</span>',
                params: {
                    TPId: tPId
                    , Operation: operation
                    , TPStatus: tpStatus
                }
              , popcallback: function (msg) {
                  if (msg != null && msg.length > 0) {

                  }
              }
            });
        }

        function fn_Appeal(cellvalue, options, rowObject) {
            return '<button type="button" class="btn btn-primary end"  onclick="fn_AppealPop(' + options.rowId + ')">申诉</button>';
        }
        function fn_UnAppeal() {

            return "";
        }

        //申诉Pop
        function fn_AppealPop(rowId) {
            var rowObject = $("#gridItem").jqGrid('getRowData', rowId);
            if (rowObject.APId == "0" && _userType != "S") {
                $.sa.warning("没有申诉信息");
                return;
            }

            $.sa.pop('/AppealMng/APP040P', {
                height: 700, width: 850, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>申诉</span>',
                params: {
                    TPId: rowObject.TPId,
                    TIId: rowObject.TIId,
                    APId: rowObject.APId,
                    Remarks: rowObject.Remarks
                }
              , popcallback: function (msg) {
                  if (msg != null && msg.length > 0) {
                      if (msg != null && msg.length > 0) {
                          $("#gridTask").find("tr[id='" + _rowNo + "']").find(".end").click();
                      }
                  }
              }
            });
        }

    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'TCCode', label: "任务代码", width: 60, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }, hidden: true
                        },
                        {
                            name: 'PTitle', label: "计划任务", width: 80, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'TCTitle', label: "任务简介", width: 150, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'TPStatus', label: '状态', width: 40, align: 'center', editable: false,
                            formatter: function (cellvalue, options, rowObject) {
                                if (cellvalue == "E") {
                                    return "检查完成";
                                } else {
                                    return "未结束";
                                }

                            }, unformat: function (cellvalue, options, rowObject) {
                                return cellvalue;
                            }, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }
                        , {
                            name: 'UserName', label: "制作者", width: 40, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'SourceType', label: '来源类型', width: 40, align: 'center', editable: false,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Search', label: '查看', width: 50, align: 'center', editable: false,
                            formatter: fn_SearchDetail, unformat: fn_UnSearchDetail, hidden: false
                        }
                        ,
                        {
                            name: 'StartCheck', label: '开始检查', width: 50, align: 'center', editable: false,
                            formatter: fn_CheckStart, unformat: fn_UnCheckStart, hidden: true
                        },
                        {
                            name: 'EndCheck', label: '结束检查', width: 50, align: 'center', editable: false,
                            formatter: fn_CheckEnd, unformat: fn_UnCheckEnd, hidden: true
                        },
                        {
                            name: 'TPId', label: 'TPId', width: 50, align: 'center', editable: false, hidden: true
                        },
                        {
                            name: 'TPType', label: 'TPType', width: 50, align: 'center', editable: false, hidden: true
                        }

                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 30],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager1'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager1_left').css('width', '25%');
                    $('#pager1_right').css('width', '25%');

                    $("[aria-describedby='gridTask_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {
                    //var $t = $(this);
                    //if (r.TPStatus != "E") {
                    //    $t.find('#' + rowid).find(".start").attr("disabled", false);
                    //    $t.find('#' + rowid).find("[aria-describedby='grid_TPStatus']").addClass("readonlycell");
                    //}
                    //if (r.TPStatus == "S") {
                    //    $t.find('#' + rowid).find(".end").attr("disabled", false);
                    //    $t.find('#' + rowid).find("[aria-describedby='grid_TPStatus']").addClass("readonlycell");
                    //}
                }
            });
        }

        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }

        function fn_GridInit2() {
            _grid2.jqGrid({
                datatype: 'local',
                colModel: [
                        {
                            name: 'SeqNo', label: "执行顺序", width: 30, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Title', label: "指标名称", width: 150, align: 'left',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'PassYN', label: '通过与否', width: 50, align: 'center', editable: false,
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'Score', label: '得分', width: 50, align: 'center', editable: false,
                            formatter: fn_ScoreReg, unformat: fn_UnScoreReg
                        },
                        {
                            name: 'PlanApproalYN', label: '改善计划审批', width: 50, align: 'center', editable: false, edittype: "text"
                            , formatter: 'select', edittype: 'select',
                            formatoptions: {
                                value: { true: "需要", false: "不需要" }
                            }, editoptions: {
                                'class': 'form-control',
                                value: { true: "需要", false: "不需要" }
                            }, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }

                        },
                        {
                            name: 'ResultApproalYN', label: '改善结果审批', width: 50, align: 'center', editable: false, edittype: "text"
                            , formatter: 'select', edittype: 'select',
                            formatoptions: {
                                value: { true: "需要", false: "不需要" }
                            }, editoptions: {
                                'class': 'form-control',
                                value: { true: "需要", false: "不需要" }
                            }, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        },
                        {
                            name: 'AppealYN', label: '申诉与否', width: 35, align: 'center', editable: false, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }
                        }, {
                            name: 'AppealResult', label: "审核状态", width: 50, align: 'center',
                            cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }, formatter: function (cellvalue, options, rowObject) {
                                if (cellvalue == "P") {
                                    return "审核通过";
                                } else if (cellvalue == "F") {
                                    return "审核未过";
                                } else if (cellvalue == "N") {
                                    return "-";
                                } else {
                                    return "待审核";
                                }

                            }, unformat: function (cellvalue, options, rowObject) {
                                return cellvalue;
                            }
                        },
                        {
                            name: 'Appeal', label: '申诉', width: 35, align: 'center', editable: false, cellattr: function (rowId, val, rawObject, cm, rdata) {
                                return 'class="readonlycell"';
                            }, formatter: fn_Appeal, unformat: fn_UnAppeal
                        },
                        {
                            name: 'TPId', label: 'TPId', width: 50, align: 'center', editable: false, hidden: true
                        },
                        {
                            name: 'TIId', label: 'TIId', width: 50, align: 'center', editable: false, hidden: true
                        },
                        {
                            name: 'APId', label: 'APId', width: 50, align: 'center', editable: false, hidden: true
                        },
                        {
                            name: 'Remarks', hidden: true
                        }
                ],
                width: $('#Grid2').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 30],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager2'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 10);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }
                    $('#pager2_left').css('width', '25%');
                    $('#pager2_right').css('width', '25%');

                    $("[aria-describedby='gridItem_rn']").addClass("readonlycell");
                },
                afterInsertRow: function (rowid, r) {
                    var $t = $(this);
                    if (_pageType == "N") {
                        $t.find('#' + rowid).find("[aria-describedby='gridItem_PlanApproalYN']").addClass("readonlycell");
                        $t.find('#' + rowid).find("[aria-describedby='gridItem_ResultApproalYN']").addClass("readonlycell");
                    } else {
                        if (_tpStatus == "检查完成") {
                            $t.find('#' + rowid).find("[aria-describedby='gridItem_PlanApproalYN']").addClass("readonlycell");
                            $t.find('#' + rowid).find("[aria-describedby='gridItem_ResultApproalYN']").addClass("readonlycell");
                        } else if (r.PassYN == "通过") {
                            $t.find('#' + rowid).find("[aria-describedby='gridItem_PlanApproalYN']").addClass("readonlycell");
                            $t.find('#' + rowid).find("[aria-describedby='gridItem_ResultApproalYN']").addClass("readonlycell");
                        }
                    }

                }, onCellSelect: function (rowid, iCol, cellcontent, e) {
                    //var rowdata = $("#gridItem").jqGrid('getRowData', rowid);
                    //if (_pageType == "N") {
                    //    $("#gridItem").setColProp('PlanApproalYN', { 'editable': false });
                    //    $("#gridItem").setColProp('ResultApproalYN', { 'editable': false });
                    //} else {
                    //    if (_tpStatus == "检查完成") {
                    //        $("#gridItem").setColProp('PlanApproalYN', { 'editable': false });
                    //        $("#gridItem").setColProp('ResultApproalYN', { 'editable': false });
                    //    } else {
                    //        if (rowdata.PassYN == "通过") {
                    //            $("#gridItem").setColProp('PlanApproalYN', { 'editable': false });
                    //            $("#gridItem").setColProp('ResultApproalYN', { 'editable': false });
                    //        } else {
                    //            $("#gridItem").setColProp('PlanApproalYN', { 'editable': true });
                    //            $("#gridItem").setColProp('ResultApproalYN', { 'editable': true });
                    //        }
                    //    }
                    //}
                }
            });
        }

        function fn_SetGrid2(mydata) {
            mydata = mydata || [];
            _grid2.clearGridData()
                .setGridParam({
                    data: mydata
                }).trigger('reloadGrid');
            localdata = mydata;
        }

        function fn_SaveCell() {
            var $t = $(this);
            var $ecs = $(".edit-cell", $t);
            $ecs.each(function (idx, ec) {
                var iRow = $(ec).parent().index();
                var iCol = $(ec).index();
                $t.saveCell(iRow, iCol);
            });
        }
    </script>
}

<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">巡视检核</span><span>&nbsp;>&nbsp;</span><span class="page-title">得分查看</span>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
            <button id="btnExcelDownLoad" class="btn btn-primary hidden">
                <span class="fa fa-file-excel-o gap-icon"></span>Excel下载
            </button>
            <a href="~/Template/ScoreViewList.xlsx" class="aline" id="a" style="display:none"></a>
        </div>
    </div>
</div>
<div class="row hidden" id="divDistributorSelect">
    <div class="col-md-12 col-sm-12">
        <div class="form-inline input-group" style="padding-top:10px;">
            <label class="input-group-addon title-sm">经销商</label>
            <input type="text" class="form-control inputWidth" disabled>
            <button class="btn btn-primary" style="float:left" id="btnSelect">选择</button>
            <input type="text" class="form-control inputMaxWidth" disabled>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">来源类型</span>
            <select class="form-control" id="selSourceType" disabled></select>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm ">查询期间</span>
            <input size="16" type="text" value="@ViewBag.FirstDayOfMonth" class="form_datetime form-control text-center datewidth"
                   id="txtSDate" />
            <span>~</span>
            <input size="16" type="text" value="@ViewBag.CurrentDate" class="form_datetime form-control text-center datewidth datemargin"
                   id="txtEDate" />
        </div>
    </div>
</div>
<div style="height:20px;"></div>
<div class="row">
    <div id="Grid" class="col-md-12">
        <table id="gridTask" class="ui-jqgrid-htable"></table>
        <div id="pager1" class="page">
        </div>
    </div>
</div>
<div class="row hidden" style="padding-top:5px;padding-bottom:5px;" id="divSave">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" id="btnSave">
                <span class="fa fa-save gap-icon"></span>保存
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="Grid2" class="col-md-12">
        <table id="gridItem" class="ui-jqgrid-htable"></table>
        <div id="pager2" class="page">
        </div>
    </div>
</div>
