<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>@ViewData["Title"] - TOYOTA.Web</title>

    @RenderSection("HeadCss", required: false)
    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link href="~/lib/bootstrap/dist/css/theme/bootstrap-cerulean.css" rel="stylesheet" />
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-cosmo.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-flatly.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-journal.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-paper.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-readable.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-sandstone.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-simplex.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-spacelab.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-united.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/theme/bootstrap-yeti.css" rel="stylesheet" />*@
        <link href="~/lib/bootstrap/dist/css/bootstrap-custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/wf.popup.css" rel="stylesheet" />
        <link href="~/css/jquery.modaldialog.css" rel="stylesheet" />
        <link href="~/lib/WebFont/awesome-4.1.0/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid-custom.css" rel="stylesheet" />
        <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
        <link href="~/css/tipped.css" rel="stylesheet" />
    </environment>
    <environment names="Staging">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link href="~/lib/bootstrap/dist/css/theme/bootstrap-cerulean.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/wf.popup.css" rel="stylesheet" />
        <link href="~/css/jquery.modaldialog.css" rel="stylesheet" />
        <link href="~/lib/WebFont/awesome-4.1.0/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid-custom.css" rel="stylesheet" />
        <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
        <link href="~/css/tipped.css" rel="stylesheet" />
    </environment>
    <environment names="Production">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link href="~/lib/bootstrap/dist/css/theme/bootstrap-cerulean.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/wf.popup.css" rel="stylesheet" />
        <link href="~/css/jquery.modaldialog.css" rel="stylesheet" />
        <link href="~/lib/WebFont/awesome-4.1.0/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/lib/jqgrid/ui.jqgrid-custom.css" rel="stylesheet" />
        <link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />
        <link href="~/css/tipped.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/logo.png" style="height:25px;width:25px" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        //List<RoleInfo> menulist = Newtonsoft.Json.JsonConvert.DeserializeObject<List<RoleInfo>>(((ClaimsIdentity)Context.User.Identity).FindFirst(ClaimTypes.UserData).Value);
                        List<RoleInfo> menulist = new List<RoleInfo>();
                        string roleListStr = Context.Request.Cookies["ROLELIST1"] + Context.Request.Cookies["ROLELIST2"];
                        if (!string.IsNullOrWhiteSpace(roleListStr))
                        {
                            menulist = Newtonsoft.Json.JsonConvert.DeserializeObject<List<RoleInfo>>(roleListStr);
                        }
                        SiteMapNodeModel menu = CommonHelper.GetTopMenu(menulist);
                        if (menu != null)
                        {
                            for (int i = 0; i < menu.Children.Count(); i++)
                            {

                                if (menu.Children[i].Children.Count > 0)
                                {
                                    <li role="presentation" class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            @menu.Children[i].Title
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            @for (int j = 0; j < menu.Children[i].Children.Count; j++)
                                            {
                                                <li style="display: inline">
                                                    <a asp-controller="/@menu.Children[i].Children[j].Controller" asp-action="/@menu.Children[i].Children[j].Action">
                                                        @menu.Children[i].Children[j].Title
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }

                    }
                </ul>
                @*<ul class="nav navbar-nav">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                日历和计划任务 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Task" asp-action="TAS020">计划任务制作</a></li>
                                <li><a asp-area="" asp-controller="Task" asp-action="TAS010">计划任务列表</a></li>
                                <li><a asp-area="" asp-controller="Task" asp-action="TAS030">计划任务审核</a></li>
                                <li><a asp-area="" asp-controller="Task" asp-action="TAS040">任务卡制作</a></li>
                                <li><a asp-area="" asp-controller="Task" asp-action="TAS050">任务卡列表</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                店面巡视检核 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Tour" asp-action="TOU010">任务列表</a></li>
                                <li><a asp-area="" asp-controller="Tour" asp-action="TOU020">打分结果查看</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                改善监控互动 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Improve" asp-action="IMP010">改善分配列表</a></li>
                                <li><a asp-area="" asp-controller="Improve" asp-action="IMP020">已分配改善列表查询</a></li>
                                <li><a asp-area="" asp-controller="Improve" asp-action="IMP030">改善结果列表查询</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                案例分享 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Case" asp-action="CAS010">案例列表</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                基础设置 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="BaseMng" asp-action="BAS010">用户管理</a></li>
                                <li><a asp-area="" asp-controller="BaseMng" asp-action="BAS020">经销商管理</a></li>
                            </ul>
                        </li>
                    </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="accountName">@Context.Request.Cookies[SessionKeys.SESSION_NAME]</span> <span class="caret accountName">
                            </span>
                        </a>
                        <ul class="dropdown-menu logout" role="menu">
                            <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom text-center">
            <p>&copy; 2018 - TOYOTA.Web</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/sa/jquery.sa.ajax.js"></script>
        <script src="~/lib/sa/jquery.sa.dialog.js"></script>
        <script src="~/js/Const_API.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/i18n/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/lib/jqgrid/jquery.jqGrid.js"></script>
        <script src="~/lib/webuploader/webuploader.js"></script>
        <script src="~/lib/jqgrid/i18n/grid.locale-zh-CN.js"></script>
        <script src="~/js/jquery.dotdotdot-1.5.1.js"></script>
        <script src="~/js/tipped.js"></script>
        <script src="~/js/highcharts.js"></script>
    </environment>
    <environment names="Staging">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/sa/jquery.sa.ajax.js"></script>
        <script src="~/lib/sa/jquery.sa.dialog.js"></script>
        <script src="~/js/Const_API_QA.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/i18n/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/lib/jqgrid/jquery.jqGrid.js"></script>
        <script src="~/lib/webuploader/webuploader.js"></script>
        <script src="~/lib/jqgrid/i18n/grid.locale-zh-CN.js"></script>
        <script src="~/js/jquery.dotdotdot-1.5.1.js"></script>
        <script src="~/js/tipped.js"></script>
        <script src="~/js/highcharts.js"></script>
    </environment>

    <environment names="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/sa/jquery.sa.ajax.js"></script>
        <script src="~/lib/sa/jquery.sa.dialog.js"></script>
        <script src="~/js/Const_API_PRD.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/i18n/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="~/lib/jqgrid/jquery.jqGrid.js"></script>
        <script src="~/lib/webuploader/webuploader.js"></script>
        <script src="~/lib/jqgrid/i18n/grid.locale-zh-CN.js"></script>
        <script src="~/js/jquery.dotdotdot-1.5.1.js"></script>
        <script src="~/js/tipped.js"></script>
        <script src="~/js/highcharts.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
