<!DOCTYPE html>
<html>
<head>
    @Html.Partial("./Base/_Head")
    @RenderSection("HeadContent", required: false)
</head>
<body>
    <header>
        @Html.Partial("./SiteMap/TopMenu")
        @RenderSection("HeadHtml", required: false)
    </header>

    <div class="wrap">
        <div class="sidebar">
            @Html.Partial("./SiteMap/SubMenu")
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="container-fluid">
            @Html.Partial("./Master/_FooterPartialPage")
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
