
@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "任务卡制作";
}
@section Scripts{

    <style type="text/css">
        #txtReason {
            height: 150px;
            max-height: 100px;
            max-width: 100%;
        }

        .text-left {
            max-width: 100%;
        }
    </style>
    <!-- 1. Load -->
    <script type="text/javascript">
        var _nowDate = '@ViewBag.NowDate';
        var _execute = null;
        $(document).ready(function () {     
            Initialize();
            InitData();
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function Initialize() {
            fn_GridInit1();
            fn_GridInit2();
            $("#btnAadd").on("click", function () {
                fn_addStaCardRow("");
            });
            $("#btnAddCheckStandard").on("click", function () {
                fn_addCS();
            });
            $("#btnAddPicStandard").on("click", function () {
                fn_addPS();
            });
            $("#btnSave").on("click", function () {
                fn_Save();
            });
            $("#rdo").attr("readonly", "readonly");
        }
        function InitData() {
            fn_initType();
            fn_initExecute();
            fn_initTaskCardKind();
            //fn_Search();
        }
    </script>
    <!-- 4. Custom Function -->
    <script type="text/javascript">
        function fn_initType() {
            //$.sa.get('http://toyotaqaapi.elandcloud.com/toyota/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                           { GroupCode: '10' },
                           {
                               "success": function (data) {
                                   if (data != null) {
                                       $('#selType').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "SELECT" }));
                                       //$.sa.warning(data.body);
                                   }
                               },
                               "failure": function (data, statusText, jqXHR) {
                                   $.sa.warning(data.msg);
                               }
                           });
        }
        function fn_initExecute() {
            //$.sa.get('http://toyotaqaapi.elandcloud.com/toyota/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                           { GroupCode: '13' },
                           {
                               "success": function (data) {
                                   if (data != null) {
                                       //var json = JSON.parse(data.body);
                                       //for (var i = 0; i < json.length; i++) {
                                       //    _execute += ';' + json[i].Value + ':' + json[i].Name;
                                       //}
                                       //_execute = _execute.substring(1);
                                       _execute = NameValueListToJson('Name', 'Value', JSON.parse(data.body));
                                       fn_GridInit();
                                       //$.sa.warning(data.body);
                                   }
                               },
                               "failure": function (data, statusText, jqXHR) {
                                   $.sa.warning(data.msg);
                               }
                           });
        }
        function fn_initTaskCardKind() {
            //$.sa.get('http://toyotaqaapi.elandcloud.com/toyota/api/v1/PlanTask/GetStatus',
            $.sa.get(TASKGETSTATUS,
                           { GroupCode: '16' },
                            {
                                "success": function (data) {
                                    if (data != null) {
                                        $('#selKind').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "SELECT" }));
                                        //$.sa.warning(data.body);
                                        fn_Search();
                                    }
                                },
                                "failure": function (data, statusText, jqXHR) {
                                    $.sa.warning(data.msg);
                                }
                            });
        }
        var isUsed = "";
        var trange = "";
        function fn_Search() {
            //$.sa.get('http://localhost:6505/toyota/api/v1/PlanTask/GetTaskCardDtlList',
            $.sa.get(GETTASKCARDDTLLIST,
                           { TCId: '@ViewBag.TCId' },
                           {
                               "success": function (data) {
                                   if (data != null) {
                                       //$('#selType').html(JsonToCboList("Name", "Value", JSON.parse(data.body), { "SelectType": "SELECT" }));
                                       var _data = JSON.parse(data.body);
                                       $("#selType").val(_data[0].TCType);
                                       $("#txtTitle").val(_data[0].TCTitle);
                                       $("#txtReason").val(_data[0].TCDescription);
                                       $("#selKind").val(_data[0].TCKind);
                                       if (_data[0].UseYN == "1") {
                                           $("#useYN").attr("checked", true);
                                       }
                                       isUsed = _data[0].IsUsed;
                                       trange = _data[0].TCRange;
                                       if (_data[0].TCRange == 'I') {
                                           $("#fullAllAttend").css("display", "none");
                                           $("#fullAttend").css("display", "");
                                           $("#continuousAttend").css("display", "none");
                                       } else if (_data[0].TCRange == 'L') {
                                           $("#fullAllAttend").css("display", "");
                                           $("#fullAttend").css("display", "none");
                                           $("#continuousAttend").css("display", "none");
                                       } else {
                                           $("#fullAllAttend").css("display", "none");
                                           $("#fullAttend").css("display", "none");
                                           $("#continuousAttend").css("display", "");
                                       }
                                       fn_SetGrid(_data[0].TIList);
                                       CSList = _data[0].CSList;
                                       PSList = _data[0].PSList;
                                   }
                               },
                               "failure": function (data, statusText, jqXHR) {
                                   $.sa.warning(data.msg);
                               }
                           }, $("body"));
        }
        function fn_addStaCardRow(obj) {
            fn_saveCell.call($("#gridItemsofPlan"));
            fn_saveCell.call($("#gridCheckStandard"));
            fn_saveCell.call($("#gridStandardPic"));
            var ids = $("#gridItemsofPlan").getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata;
            rowdata = {
                SeqNo: ids.length + 1,
                Title: "",
                ExeMode: "",
                ScoreStandard: "",
                InDateTime: _nowDate,
                UserName: '@Context.Request.Cookies[SessionKeys.SESSION_NAME]',
                TIRowId: newid,
                Id: newid
            };
            $("#gridItemsofPlan").addRowData(newid, rowdata, 'last');
            $($("#gridItemsofPlan").getGridRowById(newid)).addClass("edited");
        }
        function fn_DeleteTaskPlan(obj) {
            fn_saveCell.call($("#gridItemsofPlan"));
            fn_saveCell.call($("#gridCheckStandard"));
            fn_saveCell.call($("#gridStandardPic"));
            //$.sa.warning(obj.id);
            var rowdata;
            var id;
            var idsb = $("#gridItemsofPlan").getDataIDs();
            if (idsb && idsb.length > 0) {
                for (var k = 0; k < idsb.length; k++) {
                    if (obj == $("#gridItemsofPlan").jqGrid("getRowData", idsb[k]).Id) {
                        rowdata = $("#gridItemsofPlan").jqGrid("getRowData", idsb[k]);
                        delTIList.push(rowdata);
                        id = idsb[k];
                        $("#gridItemsofPlan").delRowData(idsb[k]);
                    }
                }
            }
            var ids = $("#gridItemsofPlan").getDataIDs();
            if (ids && ids.length > 0) {
                for (var i = 0; i < ids.length; i++) {
                    $("#gridItemsofPlan").jqGrid("setCell", ids[i], "SeqNo", i + 1);
                }
            }
            var ids = $("#gridCheckStandard").getDataIDs();
            if (ids && ids.length > 0) {
                for (var j = 0; j < ids.length; j++) {
                    CSList.push($("#gridCheckStandard").jqGrid("getRowData", ids[j]));
                }
            }

            var idps = $("#gridStandardPic").getDataIDs();
            if (idps && idps.length > 0) {
                for (var j = 0; j < idps.length; j++) {
                    PSList.push($("#gridStandardPic").jqGrid("getRowData", idps[j]));
                }
            }



            var tmplist = [];
            for (var i = 0; i < CSList.length; i++) {
                if (CSList[i].TIId != obj) {
                    tmplist.push(CSList[i]);
                } else {
                    delCSList.push(CSList[i]);
                }
            }
            CSList = tmplist;

            var tmplistp = [];
            for (var i = 0; i < PSList.length; i++) {
                if (PSList[i].TIId != obj) {
                    tmplistp.push(PSList[i]);
                } else {
                    delPSList.push(PSList[i]);
                }
            }
            PSList = tmplistp;
            fn_SetGrid1("");
            fn_SetGrid2("");
            rowidcs = "";
            rowidps = "";
        }
        var CSList = [];
        var PSList = [];
        var delCSList = [];
        var delPSList = [];
        var delTIList = [];
        var rowidcs = "";
        var rowidps = "";
        function fn_AddCheckStandard(id) {
            fn_saveCell.call($("#gridStandardPic"));
            fn_saveCell.call($("#gridCheckStandard"));
            fn_saveCell.call($("#gridItemsofPlan"));
            rowidcs = id.id == undefined ? id : id.id;
            var ids = $("#gridCheckStandard").getDataIDs();
            if (ids && ids.length > 0) {
                for (var j = 0; j < ids.length; j++) {
                    CSList.push($("#gridCheckStandard").jqGrid("getRowData", ids[j]));
                }
            }
            var showlist = [];
            if (CSList.length > 0) {
                for (var k = 0; k < CSList.length; k++) {
                    if (rowidcs == CSList[k].TIId) {
                        showlist.push(CSList[k]);
                    }
                }
            }
            fn_SetGrid1(showlist);
            var tmplist = [];
            for (var i = 0; i < CSList.length; i++) {
                if (CSList[i].TIId != rowidcs) {
                    tmplist.push(CSList[i]);
                }
            }
            CSList = tmplist;
            $(document).scrollTop($(document).height() - $(window).height());

        }
        function fn_AddPictureStandard(id) {
            fn_saveCell.call($("#gridCheckStandard"));
            fn_saveCell.call($("#gridItemsofPlan"));
            fn_saveCell.call($("#gridStandardPic"));
            rowidps = id.id == undefined ? id : id.id;
            var ids = $("#gridStandardPic").getDataIDs();
            if (ids && ids.length > 0) {
                for (var j = 0; j < ids.length; j++) {
                    PSList.push($("#gridStandardPic").jqGrid("getRowData", ids[j]));
                }
            }
            var showlist = [];
            if (PSList.length > 0) {
                for (var k = 0; k < PSList.length; k++) {
                    if (rowidps == PSList[k].TIId) {
                        showlist.push(PSList[k]);
                    }
                }
            }
            fn_SetGrid2(showlist);
            var tmplist = [];
            for (var i = 0; i < PSList.length; i++) {
                if (PSList[i].TIId != rowidps) {
                    tmplist.push(PSList[i]);
                }
            }
            PSList = tmplist;
            $(document).scrollTop($(document).height() - $(window).height());
        }
        function fn_addCS() {
            if (rowidcs == "") {
                $.sa.warning("请先查询检查标准.");
                return;
            }
            fn_saveCell.call($("#gridCheckStandard"));
            fn_saveCell.call($("#gridItemsofPlan"));
            fn_saveCell.call($("#gridStandardPic"));
            var ids = $("#gridCheckStandard").getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata;
            rowdata = {
                CContent: "",
                Delete: "",
                TIRowId: rowidcs,
                TIId: rowidcs
            };
            $("#gridCheckStandard").addRowData(newid, rowdata, 'last');
            $($("#gridCheckStandard").getGridRowById(newid)).addClass("edited");
        }
        function fn_addPS() {
            if (rowidps == "") {
                $.sa.warning("请先查询标准图片.");
                return;
            }
            fn_saveCell.call($("#gridCheckStandard"));
            fn_saveCell.call($("#gridItemsofPlan"));
            fn_saveCell.call($("#gridStandardPic"));
            var ids = $("#gridStandardPic").getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata;
            rowdata = {
                StandardPicName: "",
                Delete: "",
                TIRowId: rowidps,
                TIId: rowidps
            };
            $("#gridStandardPic").addRowData(newid, rowdata, 'last');
            $($("#gridStandardPic").getGridRowById(newid)).addClass("edited");
        }
        function fn_delCS(obj) {
            var id;
            if (obj.id == undefined) {
                if (obj[0] == undefined) {
                    id = obj;
                } else {
                    id = obj[0].id;
                }
            } else {
                id = obj.id;
            }
            delCSList.push($("#gridCheckStandard").jqGrid("getRowData", id));
            $("#gridCheckStandard").delRowData(id);
        }
        function fn_delPS(obj) {
            var id;
            if (obj.id == undefined) {
                if (obj[0] == undefined) {
                    id = obj;
                } else {
                    id = obj[0].id;
                }
            } else {
                id = obj.id;
            }
            delPSList.push($("#gridStandardPic").jqGrid("getRowData", id));
            $("#gridStandardPic").delRowData(id);
        }

        function fn_Save() {
            fn_saveCell.call($("#gridCheckStandard"));
            fn_saveCell.call($("#gridItemsofPlan"));
            fn_saveCell.call($("#gridStandardPic"));
            if (Validate()) {
                $.sa.confirm("是否要保存?", {
                    fnOk: function () {
                        $(".close").click();
                        var idcs = $("#gridCheckStandard").getDataIDs();
                        if (idcs && idcs.length > 0) {
                            for (var i = 0; i < idcs.length; i++) {
                                CSList.push($("#gridCheckStandard").jqGrid("getRowData", idcs[i]));
                            }
                        }
                        var idps = $("#gridStandardPic").getDataIDs();
                        if (idps && idps.length > 0) {
                            for (var m = 0; m < idps.length; m++) {
                                PSList.push($("#gridStandardPic").jqGrid("getRowData", idps[m]));
                            }
                        }
                        var taskitem = [];
                        var idtis = $("#gridItemsofPlan").getDataIDs();
                        if (idtis && idtis.length > 0) {
                            for (var n = 0; n < idtis.length; n++) {
                                taskitem.push($("#gridItemsofPlan").jqGrid("getRowData", idtis[n]));
                            }
                        }
                        var tctype = $("#selType").val();
                        var tctitle = $("#txtTitle").val();
                        var tcRange = trange; //$("[name=searchType]").filter(":Checked").val();
                        var txtReason = $("#txtReason").val();
                        var useYN = $('#useYN').is(':checked') == true ? "1" : "0";
                        var item = { Id: '@ViewBag.TCId', TCType: tctype, TCRange: tcRange, TCTitle: tctitle, TCDescription: txtReason, InUserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]', UseYN: useYN, TaskItem: taskitem, XmlDataS: CSList, XmlDataP: PSList, DelTIList: delTIList, DelCSList: delCSList, DelPSList: delPSList }
                        //$.sa.post('http://localhost:6505/toyota/api/v1/PlanTask/UpdateTaskCard',UPDATETASKCARD
                        $.sa.post(UPDATETASKCARD,
                                    JSON.stringify(item),
                          {
                              "success": function (data) {
                                  if (data != null && data.msg == "") {
                                      fn_SetGrid();
                                      fn_SetGrid1();
                                      fn_SetGrid2();
                                      CSList = [];
                                      PSList = [];
                                      rowidcs = "";
                                      rowidps = "";
                                      $("#selType").val("select");
                                      $("#txtTitle").val("");
                                      //$("[name=searchType]")[0].checked = false;
                                      //$("[name=searchType]")[1].checked = false;
                                      $("#txtReason").val("");
                                      var list = "S";
                                      window.parent.popcallback(list);
                                      //fn_ClosePlan();
                                  } else {
                                      $.sa.warning("保存失败！");
                                      //fn_SetGrid("");
                                  }
                              },
                              "failure": function (data, statusText, jqXHR) {
                                  //fn_SetGrid("");
                                  $.sa.warning(data.msg);
                              }
                          }, $("body"));
                    }
                });
            }
        }
        function fn_saveCell() {
            var $t = $(this);
            var $ecs = $(".edit-cell", $t);
            $ecs.each(function (idx, ec) {
                var iRow = $(ec).parent().index();
                var iCol = $(ec).index();
                $t.saveCell(iRow, iCol);
            });
        }
        function Validate() {
            var tctype = $("#selType").val();
            var tctitle = $("#txtTitle").val();
            var tcRange = trange;//$("[name=searchType]").filter(":Checked").val();
            var txtReason = $("#txtReason").val();
            var validate = true;
            var ids = $("#gridItemsofPlan").getDataIDs();

            if (tctype == "select") {
                $.sa.warning("请选择类型。");
                validate = false;
            } else if (tctitle == "" || tctitle == null) {
                $.sa.warning("请输入任务卡简介。");
                validate = false;
            } else if (tcRange == null || tcRange == "") {
                $.sa.warning("请选择适用范围。");
                validate = false;
            } else if (txtReason == "" || txtReason == null) {
                $.sa.warning("请输入任务卡简述。");
                validate = false;
            } else if (ids && ids.length > 0) {
                var issame = true;
                for (var i = 0; i < ids.length; i++) {
                    var rowdata = $("#gridItemsofPlan").jqGrid("getRowData", ids[i]);
                    for (var j = 0; j < ids.length; j++) {
                        var rowdatad = $("#gridItemsofPlan").jqGrid("getRowData", ids[j]);
                        if (rowdata.SeqNo == rowdatad.SeqNo && ids[i] != ids[j]) {
                            issame = false;
                            break;
                        }
                    }
                }
                if (!issame) {
                    $.sa.warning("体系的执行顺序不能相同。");
                    validate = false;
                }
            } else {
                $.sa.warning("任务卡必须有体系。");
                validate = false;

            }
            return validate;
        }
    </script>
    <!-- 5. Grid -->
    <script type="text/javascript">
        function fn_GridInit() {
            $('#gridItemsofPlan').jqGrid({
                datatype: 'local',
                colModel: [
                     {
                         name: 'Id', label: '体系Id', width: 100, align: 'center', hidden: false,
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }
                     },
                    {
                        name: 'SeqNo', label: '执行顺序', width: 90, align: 'center', editable: false, edittype: 'select', cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Title', label: '指标名称', width: 250, align: 'left', editable: false,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Rate', label: '检查标准', width: 100, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }, formatter: function (v, o, r) {
                            return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_AddCheckStandard(' + r.Id + ')">检查标准</button>';
                        }, unformat: function () {
                            return 0;
                        }
                    },
                    {
                        name: 'Rate', label: '标准图片', width: 100, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }, formatter: function (v, o, r) {
                            return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_AddPictureStandard(' + r.Id + ')">标准图片</button>';
                        }, unformat: function () {
                            return 0;
                        }
                    },
                    {
                        name: 'ExeMode', label: '执行方式', width: 120, align: 'center', editable: false
                        , formatter: 'select',
                        formatoptions: {
                            value: _execute
                        },
                        editoptions: {
                            'class': 'form-control',
                            value: _execute
                        }, cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'ScoreStandard', label: '评分标准', width: 115, align: 'left', editable: false,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="dotdotdot"';
                        },
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'InDateTime', label: '登记时间', width: 100, align: 'center', editable: false,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'UserName', label: '登记人', width: 100, align: 'center', editable: false,
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Delete', label: '删除', width: 90, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }, formatter: function (v, o, r) {
                            return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_DeleteTaskPlan(' + r.Id + ')" disabled>删除</button>';
                        }, unformat: function (v, o, r) {
                            return "";
                        }
                    },
                    {
                        name: 'TIRowId', label: '登记人', width: 100, align: 'left', hidden: true
                    },
                    {
                        name: 'Id', label: 'Id', width: 100, align: 'left', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                shrinkToFit: false,
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 50,
                rowList: [50, 100, 300],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                //sortable: true,
                //sortname: 'SeqNo',
                //sortorder:'asc',
                //autoScroll: false,
                gridComplete: function () {
                    //var ids = $("#gridPlans").getDataIDs();
                    //if (ids.length > 0) {
                    //    for (var i = 0; i <ids.length; i++) {
                    //        var rowdata = $("#gridPlans").jqGrid("getRowData", ids[i]);
                    //        if (rowdata.TCId!="") {
                    //            $("#gridPlans").setCell(ids[i], { 'editable': false });
                    //        }
                    //    }

                    //}
                    fn_tipped("gridItemsofPlan", "ScoreStandard", { "tipTitle": '评分标准', "tipType": "E", "tipWidth": "200px" });
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                        // ShowNoDataDiv("grid","msg","没有数据");
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridItemsofPlan_rn']").addClass("readonlycell");
                },
                onCellSelect: function (rowid, iCol, cellcontent, e) {
                    $("#gridItemsofPlan").setColProp('SeqNo', { editoptions: { value: gettype() } });
                    $("#gridItemsofPlan").setColProp('ExeMode', { editoptions: { value: _execute } });
                    var tiid = $("#gridItemsofPlan").jqGrid("getRowData", rowid);
                    fn_AddCheckStandard(tiid.Id);
                    fn_AddPictureStandard(tiid.Id);
                    rowidcs = tiid.Id;
                    rowidps = tiid.Id;
                }

            });
        }
        function fn_GridInit1() {
            $('#gridCheckStandard').jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'Id', label: '检查标准Id', width: 103, align: 'center', hidden: false
                        , cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'CContent', label: '检查标准', width: 305, align: 'left', editable: false, edittype: "text", editoptions: { 'class': 'text-left' }
                        , cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Delete', label: '删除', width: 90, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }, formatter: function (v, o, r) {
                            return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_delCS(' + o.rowId + ')" disabled>删除</button>';
                        }, unformat: function (v, o, r) {
                            return "";
                        }
                    },
                    {
                        name: 'TIRowId', label: 'TIRowId', width: 103, align: 'center', hidden: true
                        , cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'TIId', label: 'TIId', width: 103, align: 'center', hidden: true
                        , cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Id', label: 'Id', width: 103, align: 'center', hidden: true

                    }
                ],
                width: $('#Grid1').width(),
                shrinkToFit: false,
                height: 'auto',
                rownumbers: true,
                rownumWidth: 30,
                rowNum: 30,
                rowList: [50, 100, 300],
                footerrow: false,
                cellsubmit: 'clientArray',
                //pager: jQuery('#pager1'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                //autoScroll: false,
                gridComplete: function () {
                    //var ids = $("#gridPlans").getDataIDs();
                    //if (ids.length > 0) {
                    //    for (var i = 0; i <ids.length; i++) {
                    //        var rowdata = $("#gridPlans").jqGrid("getRowData", ids[i]);
                    //        if (rowdata.TCId!="") {
                    //            $("#gridPlans").setCell(ids[i], { 'editable': false });
                    //        }
                    //    }

                    //}
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                        // ShowNoDataDiv("grid","msg","没有数据");
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridCheckStandard_rn']").addClass("readonlycell");
                }
            });
        }
        function fn_GridInit2() {
            $('#gridStandardPic').jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'Id', label: '图片标准Id', width: 103, align: 'center', hidden: false
                        , cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'StandardPicName', label: '图片名称', width: 305, align: 'left', editable: false,
                        edittype: "text", editoptions: { 'class': 'text-left' }, cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Delete', label: '删除', width: 90, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }, formatter: function (v, o, r) {
                            return '<button type="button" class="btn btn-primary btn-sm"  style="width:100%;"  onclick="fn_delPS(' + o.rowId + ')" disabled>删除</button>';
                        }, unformat: function (v, o, r) {
                            return "";
                        }
                    },
                     {
                         name: 'TIRowId', label: 'TIRowId', width: 103, align: 'center', hidden: true
                         , cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }
                     },
                     {
                         name: 'TIId', label: 'TIId', width: 103, align: 'center', hidden: true

                     },
                     {
                         name: 'Id', label: 'Id', width: 103, align: 'center', hidden: true

                     }
                ],
                width: $('#Grid2').width(),
                shrinkToFit: false,
                height: 'auto',
                rownumbers: true,
                rownumWidth: 30,
                rowNum: 30,
                rowList: [50, 100, 300],
                footerrow: false,
                cellsubmit: 'clientArray',
                //pager: jQuery('#pager2'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                //autoScroll: false,
                gridComplete: function () {
                    //var ids = $("#gridPlans").getDataIDs();
                    //if (ids.length > 0) {
                    //    for (var i = 0; i <ids.length; i++) {
                    //        var rowdata = $("#gridPlans").jqGrid("getRowData", ids[i]);
                    //        if (rowdata.TCId!="") {
                    //            $("#gridPlans").setCell(ids[i], { 'editable': false });
                    //        }
                    //    }

                    //}
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                        // ShowNoDataDiv("grid","msg","没有数据");
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='gridCheckStandard_rn']").addClass("readonlycell");
                }
            });
        }
        function gettype() {
            var ids = $("#gridItemsofPlan").getDataIDs();
            var countries = "";
            if (ids && ids.length > 0) {
                for (var i = 0; i < ids.length; i++) {
                    if (i != ids.length - 1) {
                        countries += (i + 1) + ":" + (i + 1) + ";";
                    } else {
                        countries += (i + 1) + ":" + (i + 1);
                    }
                }
            } else {
                countries = 1 + ":" + 1;
            }
            //alert(countries);
            return countries;
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            $('#gridItemsofPlan').clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        function fn_SetGrid1(mydata) {
            mydata = mydata || [];
            $('#gridCheckStandard').clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        function fn_SetGrid2(mydata) {
            mydata = mydata || [];
            $('#gridStandardPic').clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button id="btnSave" class="btn btn-primary" disabled>
                <span class="fa fa-save gap-icon"></span>保存
            </button>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="col-xs-3" style="padding-left:0px;">
            <div class="input-group">
                <span class="input-group-addon">任务卡类型</span>
                <select class="form-control" id="selType" disabled></select>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="input-group ">
                <span class="input-group-addon">任务卡简称</span>
                <input size="16" type="text" value="" class="form-control" id="txtTitle" disabled />
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">适用范围</span>
                <div class="form-control" id="rdo">
                    <label class="" id="fullAllAttend" style="font-weight:normal">
                        全国通用
                    </label>
                    <label class="" id="fullAttend" style="font-weight:normal">
                        大区通用
                    </label>
                    <label class="" id="continuousAttend" style="font-weight:normal">
                        区域通用
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="col-xs-3" style="padding-left:0px;">
            <div class="input-group">
                <span class="input-group-addon">任务卡种类</span>
                <select class="form-control" id="selKind" disabled></select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <label class="radio-inline" style="padding-left:0px;">
                    <input type="checkbox" name="UseType" id="useYN" disabled />
                    使用与否
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:10px;">
    <div class="col-xs-8">
        <div class="input-group">
            <span class="input-group-addon">任务卡简述</span>
            <textarea class="form-control" id="txtReason" disabled></textarea>
        </div>
    </div>

</div>
<div class="row" style="padding-top:10px;">
    <div class="col-xs-12">
        <div class="pull-right">
            <button class="btn btn-primary" id="btnAadd" disabled>
                <span class="fa fa-save gap-icon"></span>添加体系
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="Grid" class="col-xs-12" style="margin-top:10px;">
        <table id="gridItemsofPlan" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="col-xs-6   gap-top">
            <div style="padding-left:5px; padding-top:13px;"><span class="fa fa-angle-double-right">检查标准</span></div>
            <div class="col-xs-12" style="padding-left:5px;">
                <div class="pull-right">
                    <button class="btn btn-primary" id="btnAddCheckStandard" disabled>
                        <span class="fa fa-plus gap-icon"></span>添加检查标准
                    </button>
                </div>
            </div>
            <div id="Grid1" class="col-xs-12" style="margin-top:5px;">
                <table id="gridCheckStandard" class="ui-jqgrid-htable"></table>
                <div id="pager1" class="page">
                </div>
            </div>
        </div>
        <div class="col-xs-6  gap-top">
            <div style="padding-left:5px; padding-top:13px;"><span class="fa fa-angle-double-right">照片标准</span></div>
            <div class="col-xs-12">
                <div class="pull-right" style="padding-left:5px;">
                    <button class="btn btn-primary" id="btnAddPicStandard" disabled>
                        <span class="fa fa-plus gap-icon"></span>添加图片标准
                    </button>
                </div>
            </div>
            <div id="Grid2" class="col-xs-12" style="margin-top:5px;">
                <table id="gridStandardPic" class="ui-jqgrid-htable"></table>
                <div id="pager2" class="page">
                </div>
            </div>
        </div>
    </div>
</div>