@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "经销商管理";
}
@section HeadCss{
    <style>
        .gap-icon {
            margin-right: 5px;
        }

        #selZionLst.orgWidth, #selAreaLst.orgWidth,
        #selServerLst.orgWidth, #selDepartmentLst.orgWidth {
            width: 50%;
        }
    </style>
}
@section Scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        $(document).ready(function () {
            zionServerLst = '';
            departmentLst = '@Context.Request.Cookies[SessionKeys.SESSION_DEPARTMENTLIST]'.replace(/&quot;/g, '"');
            fn_Initial();
            fn_InitialData();
            fn_GridInit();
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initial() {
            _gridName = 'grid';
            _grid = $('#' + _gridName);
            $('#btnSearch').on('click', function () {
                fn_SearchData();
            });
            $('#btnSave').on('click', function () {
                fn_SaveDisInfo();
            });
            $("#selZionLst").change(function () {
                fn_SetAreaData();
            });
            $("#btnAddDis").click(function () {
                fn_Addrow();
            });
            $("#btnRemoveDis").click(function () {
                fn_Delrow();
            });
            $("#btnExcelDown").on("click", function () {
                document.getElementById("a").click();
            });
            $("#btnExcelUpload").on("click", function () {
                $("#files").val("");
                $('#files').click();
            });
            $("#files").change(function () {
                $("#fileText").val($(this).val());
                $("#upload").click();
            });
        }
    </script>
    <!-- 3. InitData -->
    <script type="text/javascript">
        function fn_InitialData() {
            $.sa.get(GETORGINFO, { UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' },
              {
                  "success": function (data) {
                      zionServerLst = data.body;
                      $("#selZionLst").html(JsonToCboList("QName", "QId", JSON.parse(zionServerLst), { 'SelectType': 'All' }));
                      $("#selAreaLst").html(JsonToCboList("AName", "AId", null, { 'SelectType': 'All' }));
                      fn_SetAreaData();
                      fn_SetOrgControlStatus();
                  },
                  "failure": function (data, statusText, jqXHR) {
                  }
              });
        }
        function fn_SetAreaData() {
            var currentZion = $("#selZionLst").val();
            $("#selAreaLst").html(JsonToCboList("AName", "AId", null, { 'SelectType': 'All' }));
            $.each(JSON.parse(zionServerLst), function (i, v) {
                if (v.QId == currentZion) {
                    $("#selAreaLst").html(JsonToCboList("AName", "AId", v.AreaList, { 'SelectType': 'All' }));
                }
            });
        }
        function fn_SetOrgControlStatus() {
            var loginUserType = '@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]';
            var OrgZionId = '@Context.Request.Cookies[SessionKeys.SESSION_ORGZIONID]';
            var OrgAreaId = '@Context.Request.Cookies[SessionKeys.SESSION_ORGAREAID]';

            $("#selZionLst").val("0");
            $("#selAreaLst").val("0");
            if (loginUserType == 'R') {
                $("#selZionLst").val(OrgZionId);
                fn_SetAreaData();
                $("#selZionLst").attr("disabled", "disabled");
            } else if (loginUserType == 'Z') {
                $("#selZionLst").val(OrgZionId);
                fn_SetAreaData();
                $("#selAreaLst").val(OrgAreaId);
                $("#selZionLst").attr("disabled", "disabled");
                $("#selAreaLst").attr("disabled", "disabled");
            }
        }
    </script>
    <!--Save-->
    <script type="text/javascript">
        function fn_SaveDisInfo() {
            fn_SaveCell.call(_grid);
            editData = _grid.getChangedCells('all');
            if (fn_SaveValidate(editData)) {
                var confirmDialog = $.sa.confirm('是否要保存？', {
                    fnOk: fn_Save
                });
            }
        }
        function fn_SaveValidate() {
            var isVali = true;
            var isValiCode = true;
            var isValiSName=true;
            if (editData.length <= 0) {
                $.sa.warning("没有需要保存的数据。");
                return false;
            }
            $(editData).each(function () {
                if (this.SCode == "") {
                    isValiCode = false;
                }
            });
            $(editData).each(function () {
                if (this.SDisName == "") {
                    isVali = false;
                }
            });
            $(editData).each(function(){
                if(this.ShortName==""){
                    isValiSName=false;
                }
            })
            if (!isValiCode) {
                $.sa.warning("请输入正确的经销商编号。");
            } else if (!isVali) {
                $.sa.warning("请输入正确的经销商名称。");
            }else if(!isValiSName){
                $.sa.warning("请输入正确的中文短名");
            }
            return isVali & isValiCode&isValiSName;
        }
        function fn_Save() {
            $(".close").click();
            var param = { XmlData: editData, UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' };
            $.sa.post(SAVEDISTRIBUTORINFO,
                JSON.stringify(param),
                     {
                         "success": function (data) {
                             if (data != null) {
                                 $.sa.warning("保存成功！");
                                 fn_SearchData();
                             } else {
                                 $.sa.warning("保存失败！");
                             }
                         },
                         "failure": function (data, statusText, jqXHR) {
                         }
                     }
                     , $("body"));
        }
    </script>
    <!--Grid & Event-->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                     {
                         name: 'ZDisId', label: '大区ID', width: 30, align: 'center',
                         cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'class="readonlycell"';
                         }
                     },
                    {
                        name: 'ZDisName', label: '大区名称', width: 70, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'ADisId', label: '区域ID', width: 30, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'ADisName', label: '区域名称', width: 70, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'SDisId', label: '经销商ID', width: 30, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'SCode', label: '经销商编号', width: 60, editable: true, edittype: "text", align: 'left'
                    },
                    {
                        name: 'SDisName', label: '经销商名称', width: 140, editable: true, edittype: "text", align: 'left'
                    },
                    {
                        name: 'ShortName', label: '中文短名', width: 80, editable: true, edittype: "text", align: 'left',
                        editoptions: {
                            maxlength: 10,
                            'class': 'text-left'
                        }
                    },
                    {
                        name: 'CreateDate', label: '创建日期', width: 50, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'UseYN', label: '使用与否', width: 30, align: 'center',
                        formatter: 'checkbox', formatoptions: { disabled: false }, editoptions: { value: 'True:False' }
                    },
                    {
                        name: 'ZDisId', hidden: true
                    },
                    {
                        name: 'ADisId', hidden: true
                    },
                    {
                        name: 'SDisId', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                multiselect: true,
                rownumWidth: 50,
                rowNum: 15,
                rowList: [15, 30, 100],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                afterInsertRow: function (rowid, r) {
                    if (r.SDisId !="") {
                        $(this).find('#' + rowid).find("[aria-describedby='grid_SCode']").addClass("readonlycell");
                        $(this).find('#' + rowid).find("[aria-describedby='grid_SDisName']").addClass("readonlycell");
                        $(this).find('#' + rowid).find("[aria-describedby='grid_ShortName']").addClass("readonlycell");
                    }
                },
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');
                    $(_grid).find("input[type=checkbox][offval]").click(function () {
                        var event = arguments[0] || window.event;
                        $(event.target).closest('tr').addClass("edited");
                        $(event.srcElement).closest('tr').addClass("edited");
                    });

                    $("[aria-describedby='grid_rn']").addClass("readonlycell");
                },
                beforeEditCell: function (rowid, cellname, v, iRow, iCol) {
                    var $t = $(this);
                    var sDisId = $t.getCell(rowid, 'SDisId');
                    if (sDisId != "") {
                        setTimeout(function () {
                            $t.restoreCell(rowid, cellname);
                        }, 1);
                    }
                }
            });
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        function fn_SaveCell() {
            var $t = $(this);
            var $ecs = $(".edit-cell", $t);
            $ecs.each(function (idx, ec) {
                var iRow = $(ec).parent().index();
                var iCol = $(ec).index();
                $t.saveCell(iRow, iCol);
            });
        }

        function fn_Addrow() {
            var ids = _grid.getDataIDs();
            var pref = $.jgrid.uidPref;
            var newid = 1;
            if ($("#selZionLst").val() == "0") {
                $.sa.warning("请先选择大区", {
                    fnClose: function () {
                        $("#selZionLst").focus();
                    }
                });
                return;
            } else if ($("#selAreaLst").val() == "0") {
                $.sa.warning("请先选择区域", {
                    fnClose: function () {
                        $("#selAreaLst").focus();
                    }
                });
                return;
            }
            if (ids && ids.length > 0) {
                var regx = new RegExp(pref, 'g');
                var nids = ids.join(',').replace(regx, '').split(',');
                var maxid = Math.max.apply(Math, nids);
                newid = maxid + 1;
            }
            newid = pref + (newid).toString();
            var rowdata = {
                ZDisName: $("#selZionLst option:selected").text(),
                ADisName: $("#selAreaLst option:selected").text(),
                ZDisId: $("#selZionLst").val(),
                ADisId: $("#selAreaLst").val(),
                SDisId: "",
                SCode: "",
                SDisName: '',
                ShortName:'',
                CreateDate: '',
                UseYN: 'True'
            };
            _grid.addRowData(newid, rowdata, 'last');
            $(_grid.getGridRowById(newid)).addClass("edited");
        }

        function fn_Delrow() {
            var ids = _grid.jqGrid('getGridParam', 'selarrrow');
            if (ids.length <= 0) {
                $.sa.warning("请选择要删除的行。", {
                    fnClose: function () {
                        $("#selZionLst").focus();
                    }
                });
                return;
            }
            for (var i = ids.length - 1; i >= 0; i--) {
                if (_grid.getCell(ids[i], "SDisId") != "") {
                    _grid.setCell(ids[i], "UseYN", "Flase");
                    $(_grid.getGridRowById(ids[i])).addClass("edited");
                }
                else {
                    _grid.delRowData(ids[i]);
                }
            }
        }
    </script>
    <!--Search-->
    <script type="text/javascript">
        function fn_SearchData() {
            var disId = "";
            if ($("#selAreaLst").val() != '0') {
                disId = $("#selAreaLst").val();
            } else if ($("#selZionLst").val() != '0') {
                disId = $("#selZionLst").val();
            }
            $.sa.get(GETDISTRIBUTORINFO, {
                DisId: disId,
                UseYN: $("[name=UseYN]").filter(":Checked").val()
            },
            {
                "success": function (data) {
                    if (data != null) {
                        fn_SetGrid(eval(data.body));
                        $.sa.alert('查询完毕', { maxWidth: '400px', minWidth: '300px', showClose: false });
                    }
                },
                "failure": function (data, statusText, jqXHR) {
                }
            }
            , $("body"));
        }
    </script>
    <!--Upload-->
    <script type="text/javascript">
        $("#upload").click(function (evt) {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length ; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/BaseMng/UploadDealers",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    if (JSON.parse(message).Success == true) {
                        fn_ExcelUpload(message);
                    } else {
                        $.sa.warning("上传失败,请重试.");
                    }
                },
                error: function () {
                    $.sa.warning("上传失败,请重试.");
                }
            });
        });
        function fn_ExcelUpload(obj) {
            var dealerList=JSON.parse(JSON.parse(obj).Result).Dealers;
            dealerList.splice(0,1);
            var item = {InUserId:@Context.Request.Cookies[SessionKeys.SESSION_USERID],DisList:dealerList};
            //$.sa.post('http://localhost:6505/toyota/api/v1/Statistic/InsertAfterSalesDataByExcel',
            $.sa.post(INSERTDEALERS,
                          JSON.stringify(item),
                          {
                              "success": function (data) {
                                  if (data != null && data.msg == "") {
                                      $.sa.warning("上传成功！");
                                      fn_SetGrid(eval(data.body));
                                  } else {
                                      $.sa.warning("上传失败！");
                                      //fn_SetGrid("");
                                  }
                              },
                              "failure": function (data, statusText, jqXHR) {
                                  //fn_SetGrid("");
                                  $.sa.warning(data.msg);
                              }
                          }, $("body"));
        }
    </script>
}

<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">基础设置</span><span>&nbsp;>&nbsp;</span>
        <span class="page-title">经销商管理</span>
        <div class="pull-right">
            <button class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
            <button id="btnSave" class="btn btn-primary">
                <span class="fa fa-save gap-icon"></span>保存
            </button>
            <button id="btnExcelUpload" class="btn btn-primary">
                <span class="fa fa-file-excel-o gap-icon"></span>Excel上传
            </button>
            <button id="btnExcelDown" class="btn btn-primary">
                <span class="fa fa-file-excel-o gap-icon"></span>Excel模板下载
            </button>
            <a href="~/Template/经销商登记模板.xlsx" class="aline" id="a" style="display:none">Excel模板下载</a>
        </div>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-0" id="divfile">
            <input id="files" name="files" type="file" style="display:none" />
            <input id="fileText" type="text" class="form-control" style="display:none" />
        </div>
        <div class="col-md-0">
            <input type="button" id="upload" class="btn btn-primary" value="Excel上传" style="display:none;" />
        </div>
    </div>
</form>
<div class="row gap-top">
    <div class="col-md-6 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm">组织结构</span>
            <select class="form-control orgWidth" id="selZionLst"></select>
            <select class="form-control orgWidth" id="selAreaLst"></select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon title-sm">使用与否</span>
            <div class="form-control" id="rdo">
                <label class="radio-inline">
                    <input type="radio" name="UseYN" id="fullAttend" value="A" checked />
                    全部
                </label>
                <label class="radio-inline">
                    <input type="radio" name="UseYN" id="continuousAttend" value="1" />
                    使用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="UseYN" id="continuousAttend" value="0" />
                    不使用
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-12 col-sm-12">
        <div class="pull-right">
            <button class="btn btn-primary" id="btnAddDis">
                <span class="fa fa-plus gap-icon"></span>添加经销商
            </button>
            <button class="btn btn-primary" id="btnRemoveDis">
                <span class="fa fa-minus gap-icon"></span>删除经销商
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div id="Grid" class="col-md-12">
        <table id="grid" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>

