@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "用户管理";
}
@section HeadCss{
    <style>
        .gap-icon {
            margin-right: 5px;
        }

        #selZionLst.orgWidth, #selAreaLst.orgWidth,
        #selServerLst.orgWidth, #selDepartmentLst.orgWidth {
            width: 25%;
        }
    </style>
}
@section Scripts{
    <!-- 1. Load -->
    <script type="text/javascript">
        var _grid, _gridName;
        $(document).ready(function () {
            zionServerLst = '';
            departmentLst = '@Context.Request.Cookies[SessionKeys.SESSION_DEPARTMENTLIST]'.replace(/&quot;/g, '"');

            fn_Initial();
            fn_InitialData();
            fn_GridInit();
        });
    </script>
    <!-- 2. Init -->
    <script type="text/javascript">
        function fn_Initial() {
            _gridName = 'grid';
            _grid = $('#' + _gridName);
            $('#btnSearch').on('click', function () {
                fn_SearchData();
            });
            $("#selAreaLst").change(function () {
                fn_SetServerData();
            });
            $("#selZionLst").change(function () {
                fn_SetAreaData();
            });
            $("#selUserType").change(function () {
                fn_SetOrgControlStatus();
            });
            $("#btnAddEmp").click(function () {
                fn_RegNewEmp();
            });
        }
    </script>
    <!-- 3. InitData -->
    <script type="text/javascript">
        function fn_InitialData() {
            $.sa.get(TASKGETSTATUS, { GroupCode: '04' },
              {
                  "success": function (data) {
                      fn_SetUserTypeData(data);
                      fn_SetOrgData();
                  },
                  "failure": function (data, statusText, jqXHR) {
                  }
              });
        }
        function fn_SetUserTypeData(data) {
            var typeLst = JSON.parse(data.body);
            var loginUserType = '@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]';
            if (loginUserType == 'R') {
                typeLst.shift();
            } else if (loginUserType == 'Z') {
                typeLst.shift();
                typeLst.shift();
            } else if (loginUserType == 'S') {
                typeLst.shift();
                typeLst.shift();
                typeLst.shift();
            } else if (loginUserType == 'D') {
                typeLst.shift();
                typeLst.shift();
                typeLst.shift();
                typeLst.shift();
            }
            $("#selUserType").html(JsonToCboList("Name", "Value", typeLst));
        }
        function fn_SetOrgData() {
            $.sa.get(GETORGINFO, { UserId: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]' },
              {
                  "success": function (data) {
                      zionServerLst = data.body;
                      $("#selZionLst").html(JsonToCboList("QName", "QId", JSON.parse(zionServerLst), { 'SelectType': 'All' }));
                      $("#selAreaLst").html(JsonToCboList("AName", "AId", null, { 'SelectType': 'All' }));
                      $("#selServerLst").html(JsonToCboList("SName", "SId", null, { 'SelectType': 'All' }));
                      fn_SetAreaData();
                      $("#selDepartmentLst").html(JsonToCboList("DName", "DId", JSON.parse(departmentLst), { 'SelectType': 'All' }));
                      fn_SetOrgControlStatus();
                  },
                  "failure": function (data, statusText, jqXHR) {
                  }
              });
        }
        function fn_SetAreaData() {
            var currentZion = $("#selZionLst").val();
            $("#selAreaLst").html(JsonToCboList("AName", "AId", null, { 'SelectType': 'All' }));
            $("#selServerLst").html(JsonToCboList("SName", "SId", null, { 'SelectType': 'All' }));
            $.each(JSON.parse(zionServerLst), function (i, v) {
                if (v.QId == currentZion) {
                    $("#selAreaLst").html(JsonToCboList("AName", "AId", v.AreaList, { 'SelectType': 'All' }));
                }
            });
        }
        function fn_SetServerData() {
            var currentZion = $("#selZionLst").val();
            var currentArea = $("#selAreaLst").val();
            $("#selServerLst").html(JsonToCboList("SName", "SId", null, { 'SelectType': 'All' }));
            $.each(JSON.parse(zionServerLst), function (i, v) {
                if (v.QId == currentZion) {
                    $.each(v.AreaList, function (index, value) {
                        if (value.AId == currentArea) {
                            $("#selServerLst").html(JsonToCboList("SName", "SId", value.ServerList, { 'SelectType': 'All' }));
                        }
                    });
                }
            });
        }
        function fn_SetOrgControlStatus() {
            var userType = $("#selUserType").val();
            var loginUserType = '@Context.Request.Cookies[SessionKeys.SESSION_USERTYPE]';
            var OrgZionId = '@Context.Request.Cookies[SessionKeys.SESSION_ORGZIONID]';
            var OrgAreaId = '@Context.Request.Cookies[SessionKeys.SESSION_ORGAREAID]';
            var OrgServerId = '@Context.Request.Cookies[SessionKeys.SESSION_ORGSERVERID]';
            var OrgDepartmentId = '@Context.Request.Cookies[SessionKeys.SESSION_ORGDEPARTMENTID]';

            $("#selZionLst").val("0");
            $("#selAreaLst").val("0");
            $("#selServerLst").val("0");
            $("#selDepartmentLst").val("0");
            if (loginUserType == 'A') {
                if (userType == "A") {
                    $("#selZionLst").attr("disabled", "disabled");
                    $("#selAreaLst").attr("disabled", "disabled");
                    $("#selServerLst").attr("disabled", "disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else if (userType == "R") {
                    $("#selZionLst").removeAttr("disabled");
                    $("#selAreaLst").attr("disabled", "disabled");
                    $("#selServerLst").attr("disabled", "disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else if (userType == "Z") {
                    $("#selZionLst").removeAttr("disabled");
                    $("#selAreaLst").removeAttr("disabled");
                    $("#selServerLst").attr("disabled", "disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else if (userType == "S") {
                    $("#selZionLst").removeAttr("disabled");
                    $("#selAreaLst").removeAttr("disabled");
                    $("#selServerLst").removeAttr("disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else {
                    $("#selZionLst").removeAttr("disabled");
                    $("#selAreaLst").removeAttr("disabled");
                    $("#selServerLst").removeAttr("disabled");
                    $("#selDepartmentLst").removeAttr("disabled");
                }
            } else if (loginUserType == 'R') {
                $("#selZionLst").val(OrgZionId);
                fn_SetAreaData();
                $("#selZionLst").attr("disabled", "disabled");
                if (userType == "R") {
                    $("#selAreaLst").attr("disabled", "disabled");
                    $("#selServerLst").attr("disabled", "disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else if (userType == "Z") {
                    $("#selAreaLst").removeAttr("disabled");
                    $("#selServerLst").attr("disabled", "disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else if (userType == "S") {
                    $("#selAreaLst").removeAttr("disabled");
                    $("#selServerLst").removeAttr("disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else {
                    $("#selAreaLst").removeAttr("disabled");
                    $("#selServerLst").removeAttr("disabled");
                    $("#selDepartmentLst").removeAttr("disabled");
                }
            } else if (loginUserType == 'Z') {
                $("#selZionLst").val(OrgZionId);
                fn_SetAreaData();
                $("#selAreaLst").val(OrgAreaId);
                fn_SetServerData();
                $("#selZionLst").attr("disabled", "disabled");
                $("#selAreaLst").attr("disabled", "disabled");
                if (userType == "Z") {
                    $("#selServerLst").attr("disabled", "disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else if (userType == "S") {
                    $("#selServerLst").removeAttr("disabled");
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else {
                    $("#selServerLst").removeAttr("disabled");
                    $("#selDepartmentLst").removeAttr("disabled");
                }
            } else if (loginUserType == 'S') {
                $("#selZionLst").val(OrgZionId);
                fn_SetAreaData();
                $("#selAreaLst").val(OrgAreaId);
                fn_SetServerData();
                $("#selServerLst").val(OrgServerId);
                $("#selZionLst").attr("disabled", "disabled");
                $("#selAreaLst").attr("disabled", "disabled");
                $("#selServerLst").attr("disabled", "disabled");
                if (userType == "S") {
                    $("#selDepartmentLst").attr("disabled", "disabled");
                } else {
                    $("#selDepartmentLst").removeAttr("disabled");
                }
            } else if (loginUserType == 'D') {
                $("#selZionLst").val(OrgZionId);
                fn_SetAreaData();
                $("#selAreaLst").val(OrgAreaId);
                fn_SetServerData();
                $("#selServerLst").val(OrgServerId);
                $("#selDepartmentLst").val(OrgDepartmentId);
                $("#selUserType").attr("disabled", "disabled");
                $("#selZionLst").attr("disabled", "disabled");
                $("#selAreaLst").attr("disabled", "disabled");
                $("#selServerLst").attr("disabled", "disabled");
                $("#selDepartmentLst").attr("disabled", "disabled");
            }
        }
    </script>
    <!--Grid & Event-->
    <script type="text/javascript">
        function fn_GridInit() {
            _grid.jqGrid({
                datatype: 'local',
                colModel: [
                    {
                        name: 'UserName', label: '用户名', width: 70, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'LoginId', label: '登录Id', width: 100, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'UserTypeName', label: '职位', width: 70, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'DName', label: '组织结构', width: 100, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Phone', label: '手机号', width: 70, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'CellNo', label: '电话号码', width: 70, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'Email', label: '邮箱', width: 100, align: 'left',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: 'UseYNName', label: '使用与否', width: 50, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        }
                    },
                    {
                        name: '', label: '详细', width: 45, align: 'center',
                        cellattr: function (rowId, val, rawObject, cm, rdata) {
                            return 'class="readonlycell"';
                        },
                        formatter: fn_Detail, unformat: fn_UnDetail
                    },
                    {
                        name: 'EmpId', hidden: true
                    },
                    {
                        name: 'ZDisId', hidden: true
                    },
                    {
                        name: 'ADisId', hidden: true
                    },
                    {
                        name: 'SDisId', hidden: true
                    },
                    {
                        name: 'DepartId', hidden: true
                    },
                    {
                        name: 'UserType', hidden: true
                    },
                    {
                        name: 'UseYN', hidden: true
                    }
                ],
                width: $('#Grid').width(),
                height: 'auto',
                rownumbers: true,
                rownumWidth: 50,
                rowNum: 10,
                rowList: [10, 20, 50],
                footerrow: false,
                cellsubmit: 'clientArray',
                pager: jQuery('#pager'),
                cellEdit: true,
                editurl: 'clientArray',
                viewrecords: true,
                afterInsertRow: function (rowid, r) {
                },
                gridComplete: function (id) {
                    var rowNum = parseInt($(this).getGridParam("records"), 50);
                    if (rowNum > 0) {
                        $(".ui-jqgrid-sdiv").show();
                    }
                    else {
                        $(".ui-jqgrid-sdiv").hide();
                    }

                    //fix the pager position
                    $('#pager_left').css('width', '25%');
                    $('#pager_right').css('width', '25%');

                    $("[aria-describedby='grid_rn']").addClass("readonlycell");
                }
            });
        }
        function fn_SetGrid(mydata) {
            mydata = mydata || [];
            _grid.clearGridData()
            .setGridParam({
                data: mydata
            }).trigger('reloadGrid');
        }
        ///详细按钮
        function fn_Detail(cellvalue, options, rowObject) {
            return '<href style="cursor: pointer;text-decoration: underline;color: #587FA9;" onclick="fn_GetDetail('
                + "'" + $.trim(rowObject.EmpId) + "',"
                + "'" + rowObject.ZDisId + "',"
                + "'" + rowObject.ADisId + "',"
                + "'" + rowObject.SDisId + "',"
                + "'" + rowObject.DepartId + "',"
                + "'" + rowObject.UserType + "',"
                + "'" + rowObject.UserName + "',"
                + "'" + rowObject.LoginId + "',"
                + "'" + rowObject.Password + "',"
                + "'" + rowObject.CellNo + "',"
                + "'" + rowObject.Phone + "',"
                + "'" + rowObject.Email + "',"
                + "'" + rowObject.UseYN + "'"
                + ')">详细</href>';
        }

        function fn_UnDetail(cellvalue, options, rowObject) {
            return "";
        }
        function fn_GetDetail(EmpId, ZDisId, ADisId, SDisId, DepartId, UserType, UserName, LoginId, Password, CellNo, PhoneNo, Email, UseYN) {
            $.sa.pop("/BaseMng/BAS010P", {
                params: {
                    'EmpId': EmpId, 'ZDisId': ZDisId, 'ADisId': ADisId, 'SDisId': SDisId, 'DepartId': DepartId, 'UserType': UserType,
                    'UserName': UserName, 'LoginId': LoginId, 'Password': Password, 'CellNo': CellNo,
                    'Phone': PhoneNo, 'Email': Email, 'UseYN': UseYN,'IsNew':'N'
                },
                width: 1000, maxHeight: 550, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>&nbsp;用户信息变更</span>'
            , popcallback: function () {
                fn_Refresh(_grid.getGridParam('page'));
            }
            });
        }
        function fn_RegNewEmp() {
            $.sa.pop("/BaseMng/BAS010P", {
                params: { 'IsNew': 'N' },
                width: 1000, maxHeight: 550, title: '<span class="fa fa-hand-o-right gap-icon-right"></span><span>&nbsp;新用户注册</span>'
            , popcallback: function () {
                fn_Refresh(_grid.getGridParam('page'));
            }
            });
        }
        function fn_Refresh(page) {
            fn_SearchData(page);
        }
    </script>
    <!--Search-->
    <script type="text/javascript">
        function fn_SearchData(page) {
            var disId = "";
            var departmentId = "";
            var userType = $("#selUserType").val();
            if ($("#selServerLst").val() != '0') {
                disId = $("#selServerLst").val();
            } else if ($("#selAreaLst").val() != '0') {
                disId = $("#selAreaLst").val();
            } else if ($("#selZionLst").val() != '0') {
                disId = $("#selZionLst").val();
            }
            departmentId = $("#selDepartmentLst").val();
            $.sa.get(GETEMPLOYEEINFO, {
                DisId: disId,
                DepartId: departmentId,
                UserType: userType,
                UserName: $("#txtUserName").val(),
                UseYN: $("[name=quitYN]").filter(":Checked").val()
            },
            {
                "success": function (data) {
                    if (data != null) {
                        fn_SetGrid(eval(data.body));
                        $.sa.alert('查询完毕', { maxWidth: '400px', minWidth: '300px', showClose: false });
                    }
                    if (page > 0) {
                        _grid.jqGrid('setGridParam', {
                            page: page
                        }).trigger("reloadGrid");
                    }
                },
                "failure": function (data, statusText, jqXHR) {
                }
            }
            , $("body"));
        }
    </script>
}

<div class="row gap-top">
    <div class="col-md-12">
        <span class="fa fa-flag fa-lg gap-icon"></span><span class="page-mtitle">基础设置</span><span>&nbsp;>&nbsp;</span>
        <span class="page-title">用户管理</span>
        <div class="pull-right">
            <button class="btn btn-primary" id="btnSearch">
                <span class="fa fa-search gap-icon"></span>查询
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon title-sm">用户类型</span>
            <select class="form-control readonly" id="selUserType"></select>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-12 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon title-sm">组织结构</span>
            <select class="form-control orgWidth" id="selZionLst"></select>
            <select class="form-control orgWidth" id="selAreaLst"></select>
            <select class="form-control orgWidth" id="selServerLst"></select>
            <select class="form-control orgWidth" id="selDepartmentLst"></select>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm">使用与否</span>
            <div class="form-control" id="rdo">
                <label class="radio-inline">
                    <input type="radio" name="quitYN" id="fullAttend" value="A" checked />
                    全部
                </label>
                <label class="radio-inline">
                    <input type="radio" name="quitYN" id="continuousAttend" value="1" />
                    使用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="quitYN" id="continuousAttend" value="0" />
                    不使用
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon title-sm ">用户名</span>
            <input type="text" class="form-control" id="txtUserName" maxlength="200" />
        </div>
    </div>
</div>
<div class="row gap-top">
    <div class="col-md-12 col-sm-12">
        <div class="pull-right">
            <button class="btn btn-primary" id="btnAddEmp">
                <span class="fa fa-plus gap-icon"></span>登记新用户
            </button>
        </div>
    </div>
</div>
<div class="row gap-top">
    <div id="Grid" class="col-md-12">
        <table id="grid" class="ui-jqgrid-htable"></table>
        <div id="pager" class="page">
        </div>
    </div>
</div>


